- content_for :subtitle do
  Subcontracts Listing
#section1
  = link_to 'New subcontract', new_subcontract_path
  - if @viewing_all
    =button_to 'Show Current', subcontracts_path, :method => :get
  - else
    - form_tag subcontracts_path, :method => :get do
      = hidden_field_tag 'view_all', 1
      = submit_tag 'View all subcontracts'
#section2
  %table#subcontracts
    %thead
      %tr
        %th Partner
        %th Description
        %th Start Date
        %th End Date
        %th Cost
        %th{:colspan => current_user.has_role?(:contract_admin) ? 3 : 1}
    %tbody
      - @subcontracts.each do |s|
        %tr
          %td= h s.subcontractor.name if s.subcontractor
          %td= h s.description
          %td= h s.start_date
          %td= h s.end_date
          %td= h s.cost
          %td= link_to 'Show', s
          -if current_user.has_role?(:contract_admin)
            %td= link_to 'Edit', edit_subcontract_path(s)
            %td= link_to 'Delete', s, :confirm => 'Are you sure?', :method => :delete


