- content_for :bottom_js do
  =javascript_tag "authenticity_token = '#{form_authenticity_token}'"
  =javascript_include_tag 'prototype', 'effects', 'controls', 'subcontracts'
-content_for :subtitle do
  Subcontract
#section1
  %span#testarea
  = link_to 'Edit', edit_subcontract_path(@subcontract)
  &nbsp;|&nbsp;
  = link_to 'Back', subcontracts_path
#section2
  #general_information.boxed{:style => 'height:200px'}
    %h2 General Information
    %p
      %label{:for => 'subcontract_subcontractor_id'} Subcontractor
      =h @subcontract.subcontractor.name
      %br/
    %p
      %label{:for => 'subcontract_customer_number'} Customer Number
      =h @subcontract.customer_number
      %br/
    %p
      %label{:for => 'subcontract_site_number'} Site Number
      =h @subcontract.site_number
      %br/
    %p
      %label{:for => 'subcontract_sales_order_number'} Sales Order #
      =h @subcontract.sales_order_number
      %br/
    %p
      %label{:for => 'subcontract_description'} Description
      =h @subcontract.description
      %br/
    %p
      %label{:for => 'subcontract_quote_number'} Quote Number
      =h @subcontract.quote_number
      %br/
    %p
      %label{:for => 'subcontract_sourcedirect_po_number'} SD PO Number
      =h @subcontract.sourcedirect_po_number
      %br/
    %p
      %label{:for => 'subcontract_cost'} Cost
      =h @subcontract.cost
      %br/
    %p
      %label{:for => 'subcontract_start_date'} Start Date
      =h @subcontract.start_date
      %br/
    %p
      %label{:for => 'subcontract_end_date'} End Date
      =h @subcontract.end_date
  %div{:style => 'width:100%;height:218px'}
  #hw_coverage_level.boxed{:style => 'display:block;width:300px'}
    %h2 Hardware Coverage Level
    %p
      %label{:for => 'subcontract_hw_response_time'} Response Time
      =h @subcontract.hw_response_time
      %br/
    %p
      %label{:for => 'subcontract_hw_repair_time'} Repair Time
      =h @subcontract.hw_repair_time
      %br/
    %p
      %label{:for => 'subcontract_hw_coverage_days'} Covered Days
      =h @subcontract.hw_coverage_days
      %br/
    %p
      %label{:for => 'subcontract_hw_coverage_hours'} Covered Hours
      =h @subcontract.hw_coverage_hours
      %br/
    %p
      %label{:for => 'subcontract_parts_provided'} Parts Provided?
      =h @subcontract.parts_provided
      %br/
    %p
      %label{:for => 'subcontract_labor_provided'} Labor Covered?
      =h @subcontract.labor_provided
  #sw_coverage_level.boxed
    %h2 Software Coverage Level
    %p
      %label{:for => 'subcontract_sw_response_time'} Response Time
      =h @subcontract.sw_response_time
      %br/
    %p
      %label{:for => 'subcontract_sw_coverage_days'} Covered Days
      =h @subcontract.sw_coverage_days
      %br/
    %p
      %label{:for => 'subcontract_sw_coverage_hours'} Covered Hours
      =h @subcontract.sw_coverage_hours
#section3
  = render :partial => "/shared_views/comments_box", :locals => {:object => @subcontract}
#section4
  %h2 Current Line Items
  %table
    %thead
      %tr
        %th Contract ID
        %th Type
        %th Product Num
        %th Description
        %th Qty
        %th Cost
        %th
    %tbody
      -@line_items.each do |line|
        %tr
          %td= link_to line.support_deal_id.to_s, contract_path(line.support_deal_id)
          %td=line.support_type
          %td=line.product_num
          %td=line.description
          %td=line.qty
          -if current_user.has_role?(:contract_admin)
            %td
              %div{:class => 'subcontract_cost click_to_edit', :id => "subcontract_cost_#{line.id}"}= line.subcontract_cost || 0.00
            %td= link_to "Remove", url_for(:controller => 'subcontracts', :action => 'remove_line_item', :id => @subcontract, :line_item_id => line.id), :confirm => 'Remove this item from this subcontract?', :method => :delete
          -else
            %td=line.subcontract_cost
            %td{:colspan => 2} &nbsp;
