- content_for :top_js do
  = javascript_include_tag "contracts.js", "effects.js", "controls.js", "dragdrop.js", :cache => "contract_all"
- content_for :bottom_js do
  = javascript_include_tag "quote.js"
- content_for :subtitle do
  Edit Quote

#section1
  = link_to('Show', quote_path(@quote))

#section2
  = error_messages_for 'contract'
  - form_for(:quote, :url => quote_path(@quote), :html => { :method => :put }) do |f|
    = render :partial => "form", :locals => { :f => f }
    #section3
      %p
        = submit_tag "Update"
