- content_for :subtitle do
  SW List Admin
#section1
  %b
    = link_if current_user.has_role?(:config_tool_admin), 'Create New Whitelist', new_swlist_whitelist_path
#section2
  %table
    %h2 SW List Whitelist Patterns
    %tr
      %th Pattern
      %th{:colspan => current_user.has_role?(:config_tool_admin) ? '3' : '1'}
        Options
    - @swlist_whitelists.each do |swlist_whitelist|
      %tr
        %td
          =h swlist_whitelist.pattern
        %td
          = link_to 'Show', swlist_whitelist
        -if current_user.has_role?(:config_tool_admin)
          %td
            = link_to 'Edit', edit_swlist_whitelist_path(swlist_whitelist)
          %td
            = link_to 'Destroy', swlist_whitelist, :confirm => 'Are you sure?', :method => :delete
  %br
  = link_if current_user.has_role?(:config_tool_admin), 'New Whitelist', new_swlist_whitelist_path
  %br
  = link_to 'SWList Processor', swlists_path
  &nbsp;|&nbsp;
  = link_to 'Tools', '/tools'
