<% content_for :subtitle do %>
  Servers
<% end %>
<h1>New swlist_whitelist</h1>

<% form_for(@swlist_whitelist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pattern %><br />
    <%= f.text_field :pattern %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', swlist_whitelists_path %>

