-content_for :subtitle do
  SW List Admin
#section1
  %b
    = link_if current_user.has_role?(:admin, :config_tools_admin), 'Create New Blacklist', new_swlist_blacklist_path
#section2
  %table
    %h2 SW List Blacklist Patterns
    %tr
      %th Pattern
      %th{:colspan => '2'}
        Options
    - @swlist_blacklists.each do |swlist_blacklist|
      %tr
        %td
          =h swlist_blacklist.pattern
        - if current_user.has_role? :admin, :config_tools_admin
          %td
            = link_to 'Edit', edit_swlist_blacklist_path(swlist_blacklist)
          %td
            = link_to 'Destroy', swlist_blacklist, :confirm => 'Are you sure?', :method => :delete
  %br
  = link_if current_user.has_role?(:admin, :config_tools_admin), 'New swlist_blacklist', new_swlist_blacklist_path
  %br
  = link_to 'SWList Processor', swlists_path + " | "
  = link_to 'Tools', '/tools'
