%tr{:id => "lineitem_" + line_item.id.to_s, :class => line_item.product_num == 'LABEL' ? 'line_item_header' : line_item.ends ||= @contract.end_date < Date.today ? 'line_item_expired' : ''}
  - if current_user.has_role?(:contract_admin, :contract_editor) && @restricted_user.nil?
    -if section != 'SRV'
      %td.drag_handle.hideforprint [drag]
    %td.hideforprint
      =check_box_tag(section + "_line_item_ids[]", line_item.id, false, :class => section + '_line_item_class', :id => "licheckbox#{line_item.id.to_s}")
      =hidden_field_tag section + "_line_items[][id]", line_item.id
  %td
    - support_provider(line_item)
  %td= h line_item.location
  %td= h line_item.product_num
  %td
    %div{:class => 'note_click_to_edit click_to_edit', :id => 'note_' + line_item.id.to_s}= h line_item.note || " "
  %td{:title => line_item.description.to_s.length > 30 ? line_item.description : ""}= h truncate(line_item.description, 30)
  %td
    %div{:class => 'serial_num_click_to_edit click_to_edit', :id => 'serial_num_' + line_item.id.to_s}= h line_item.serial_num || " "
  %td{:style => line_item.begins == @contract.start_date ? 'color: #777777;' : 'font-weight: bold;'}= h line_item.begins
  %td{:style => line_item.ends == @contract.end_date ? 'color: #777777;' : 'font-weight: bold;'}= h line_item.ends
  %td{:align => 'center'}
    = h line_item.qty
  - if @restricted_user.nil?
    %td{:align => 'right'}
      = h number_to_currency(line_item.list_price)
  - if current_user.has_role?(:contract_admin, :contract_editor) && @restricted_user.nil?
    %td.hideforprint= link_to 'Edit', edit_contract_line_item_path(@contract, line_item)
  - if current_user.has_role?(:admin)
    %td.hideforprint= link_to 'Delete', contract_line_item_path(@contract, line_item), :confirm => 'Are you SURE you want to permanently delete this Line Item?', :method => :delete

