- content_for :subtitle do
  Edit Contract

#section1
  = link_to('Show', contract_path(@contract))
  = link_to(' Import Line Items ', '/import?contract=' + @contract.id.to_s) if current_user.role == ADMIN


#section2
  = error_messages_for 'contract'
  - form_for(:contract, :url => contract_path(@contract), :html => { :method => :put }) do |f|
    = render :partial => "form", :locals => { :f => f } 

    %p
    = submit_tag "Update"


