- content_for :top_js do
  = javascript_include_tag "contracts.js", "effects.js", "controls.js", "dragdrop.js", :cache => "contract_all"
- content_for :subtitle do
  Edit Contract

#section1
  = link_to('Show', contract_path(@contract))
  = link_to(' Import Line Items ', '/import?contract=' + @contract.id.to_s) if current_user.has_role?(:admin, :importer, :contract_admin)

#section2
  = error_messages_for 'contract'
  - form_for(:contract, :url => contract_path(@contract), :html => { :method => :put }) do |f|
    = render :partial => "form", :locals => { :f => f }
    #section3
      %p
        = submit_tag "Update"
