- content_for :subtitle do
  Contract List
= javascript_include_tag "contracts.js"

#section1
  - form_tag formatted_contracts_path('xls'), {:method => 'get', :name => 'export' } do
    = link_to 'New contract', new_contract_path if current_user.has_role?(:contract_admin)
    = hidden_field 'export', 'sales_office'
    = hidden_field 'export', 'support_office'
    = hidden_field 'export', 'account_name'
    = hidden_field 'export', 'said'
    = hidden_field 'export', 'description'
    = hidden_field 'export', 'start_date'
    = hidden_field 'export', 'end_date'
    = hidden_field 'export', 'payment_terms'
    = hidden_field 'export', 'revenue'
    = check_box_tag 'export_expired', @expired, @expired, :name=> 'export[expired]', :style => "display: none"
    = submit_tag "Export to Excel", :onclick => "getContractFormData()"
#section2
  %table{:class => 'plain_table'}
    %tr
      %td{:valign => "bottom", :width => '350px'}
        %b
          Double click on a row to view details of a contract.
      %td{:valign => "bottom"}
        %b Serial #
      %td{:valign => "bottom"}
        - form_tag contracts_path, {:method => 'get', :name => 'serial_search' } do
          = text_field 'serial_search', 'serial_number', :size => 11, :value => @serial_number
          = submit_tag "Find Serial Num"
      %td{:valign => "bottom", :align => 'right', :width => '200px'}
        = link_to "Clear Filter & Search", contracts_url
  - form_tag contracts_path, { :method => :get } do
    %div{:align => 'right', :style => 'width:980px'}
      = check_box_tag 'search_expired', @expired, @expired,{:name=> 'search[expired]'}
      %label.plain{:for => 'search_expired'}Inc. Expired
      = submit_tag "Search"
      - if @sn_warning
        %p{ :style => "color: red"}
          =@sn_warning
    %table{:class => "sortable", :border => "2", :cellpadding => "2", :cellspacing => "2"}
      %thead
        %tr
          %th{:width => '80px', :ts_type => 'string'}
            %label.table_header{:for => 'search_sales_office'}Sales Office
          %th{:width => '80px', :ts_type => 'string'}
            %label.table_header{:for => 'search_support_office'}Supp. Office
          %th{:width => '149px', :ts_type => 'string'}
            %label.table_header{:for => 'search_account_name'}Account Name
          %th{:width => '100px', :ts_type => 'string'}
            %label.table_header{:for => 'search_said'}SAID
          %th{:width => '150px', :ts_type => 'string'}
            %label.table_header{:for => 'search_description'}Description
          %th{:width => '90px'}
            %label.table_header{:for => 'search_start_date'}Start Date
          %th{:width => '90px'}
            %label.table_header{:for => 'search_end_date'}End Date
          %th{:width => '80px', :ts_type => 'string'}
            %label.table_header{:for => 'search_payment_terms'}Terms
          %th{:width => '85px', :ts_type => 'money'}
            %label.table_header{:for => 'search_revenue'}Annual Rev
        %tr
          %th{:class => "search"}
            = select("search", "sales_office", @sales_offices, {:selected => @sales_office, :include_blank => true },{:style => "width: 82px"})
          %th{:class => "search"}
            = select("search", "support_office", @support_offices, {:selected => @support_office, :include_blank => true },{:style => "width: 82px"})
          %th{:class => "search"}
            = text_field 'search', 'account_name', :size => 19, :value => @account_name
          %th{:class => "search"}
            = text_field 'search', 'said', :size => 16, :value => @said
          %th{:class => "search"}
            = text_field 'search', 'description', :size => 20, :value => @description
          %th{:class => "search"}
            = text_field 'search', 'start_date', :size => 11, :value => @start_date
          %th{:class => "search"}
            = text_field 'search', 'end_date', :size => 11, :value => @end_date
          %th{:class => "search"}
            = select("search", "payment_terms", @pay_terms, {:selected => @pay_term, :include_blank => true },{:style => "width: 80px"})
          %th{:class => "search"}
            = text_field 'search', 'revenue', :size => 9, :value => @revenue
      -@contracts.each do |contract|
        - rowclass = contract.end_date < Date.today ? 'expired' : 'plain'
        %tr{:class => rowclass, :ondblclick => "doOnRowDblClicked(#{contract.id})"} 
          %td= h contract.sales_office_name
          %td= h contract.support_office_name
          %td{:title => contract.account_name.length > 20 ? contract.account_name : ""}= h truncate(contract.account_name, 20)
          %td{:title => contract.said.to_s.length > 15 ? contract.said : ""}= h truncate(contract.said, 15)
          %td{:title => contract.description.to_s.length > 20 ? contract.description : ""}= h truncate(contract.description, 20)
          %td= h contract.start_date
          %td= h contract.end_date
          %td= h contract.payment_terms
          %td{:align => 'right'}= h number_to_currency(contract.total_revenue, :precision => 2)
%script
  function doOnRowDblClicked(rowId){window.location = "contracts/" + rowId}
  function searchForSerialNumber(){document.serial_search.submit;}

