- content_for :subtitle do
  Contract List

= stylesheet_link_tag "/javascripts/codebase/dhtmlxgrid.css"
= javascript_include_tag "codebase/dhtmlxcommon.js"
= javascript_include_tag "codebase/dhtmlxgrid.js"
= javascript_include_tag "codebase/dhtmlxgridcell.js"
= javascript_include_tag "codebase/ext/dhtmlxgrid_filter.js"
= javascript_include_tag "codebase/ext/dhtmlxgrid_selection.js"
= javascript_include_tag "codebase/ext/dhtmlxgrid_nxml.js"


#section1
  = link_to 'New contract', new_contract_path if current_user.role == ADMIN
  = link_to 'Export to Excel', formatted_contracts_url(:xls)
  = link_to "Copy to Excel", "javascript:mygrid.copyBlockToClipboard()"
#section2
  %p
  %div{:id => "mygrid_container", :style => "width:800;height:10%;"}

  
%script
  var mygrid;
  mygrid = new dhtmlXGridObject('mygrid_container');
  mygrid.setImagePath("/javascripts/codebase/imgs/");
  mygrid.setHeader("Sales,Support,Account,SAID,Description,PO Number,Terms,Annual Rev");
  mygrid.attachHeader("#select_filter,#select_filter,#text_filter,#text_filter,#text_filter,#text_filter,#select_filter,#numeric_filter")
  mygrid.setInitWidths("80,80,220,150,120,80,60,80");
  mygrid.setColAlign("left,left,left,left,left,left,left,right");
  mygrid.setColTypes("ro,ro,ro,ro,ro,ro,ro,ro");
  mygrid.setColSorting("str,str,str,str,str,str,str,int");
  mygrid.attachEvent("onRowDblClicked",doOnRowDblClicked);
  mygrid.enableAutoHeight();
  mygrid.enableAutoWidth();
  mygrid.enableBlockSelection();
  mygrid.init();
  mygrid.loadXML('contracts.xml');
	
  function doOnRowDblClicked(rowId){
  if (location.pathname == "/contracts")
  location.replace(location.href + "/" + rowId)
  else
  location.replace(location.href + "contracts/" + rowId)
  }
