- content_for :subtitle do
  Contract List

= stylesheet_link_tag "/javascripts/codebase/dhtmlxgrid.css"
= javascript_include_tag "prototype.js"
= javascript_include_tag "codebase/dhtmlxcommon.js"
= javascript_include_tag "codebase/dhtmlxgrid.js"
= javascript_include_tag "codebase/dhtmlxgridcell.js"
= javascript_include_tag "codebase/ext/dhtmlxgrid_filter.js"
= javascript_include_tag "codebase/ext/dhtmlxgrid_selection.js"
= javascript_include_tag "codebase/ext/dhtmlxgrid_nxml.js"


#section1
  = link_to 'New contract', new_contract_path if current_user.role == ADMIN
  = link_to 'Export to Excel', formatted_contracts_url(:xls)
  
#section2
  %p
    %b
      Search for Serial Number
    = text_field_tag('serial_search')
    = link_to_function 'Search', "searchForSerialNumber()"
  %b
    Double click on a row to view details of a contract. &nbsp;&nbsp;&nbsp;&nbsp;
    = link_to "Clear Search", contracts_url

  %div{:id => "mygrid_container", :style => "width:800;height:10%;"}

  
%script
  var mygrid;
  mygrid = new dhtmlXGridObject('mygrid_container');
  mygrid.setImagePath("/javascripts/codebase/imgs/");
  mygrid.setHeader("Sales,Support,Account,SAID,Description,PO Number,Terms,Annual Rev");
  mygrid.attachHeader("#select_filter,#select_filter,#text_filter,#text_filter,#text_filter,#text_filter,#select_filter,#numeric_filter")
  mygrid.setInitWidths("80,80,220,150,120,80,60,80");
  mygrid.setColAlign("left,left,left,left,left,left,left,right");
  mygrid.setColTypes("ro,ro,ro,ro,ro,ro,ro,ro");
  mygrid.setColSorting("str,str,str,str,str,str,str,int");
  mygrid.attachEvent("onRowDblClicked",doOnRowDblClicked);
  mygrid.enableAutoHeight(true,"600");
  mygrid.enableAutoWidth();
  mygrid.enableBlockSelection();
  mygrid.init();
  mygrid.loadXML('contracts.xml');


  //mygrid.loadXML('contracts.xml'+"?serial_search="+$("serial_search").value);
	
  function doOnRowDblClicked(rowId){
  if (location.pathname == "/contracts")
  window.location = location.href + "/" + rowId
  else
  window.location = location.href + "contracts/" + rowId
  }
  
  function searchForSerialNumber(){
  mygrid.clearAll(); mygrid.loadXML('contracts.xml?serial_search=' + $('serial_search').value);
  }
