- content_for :subtitle do
  Contract List


#section1
  = link_to 'New contract', new_contract_path if current_user.role == ADMIN
  = link_to 'Export to Excel', formatted_contracts_url(:xls)
  
#section2
  %table{:class => 'plain_table'}
    %tr
      %td{:valign => "bottom", :width => '350px'}
        %b
          Double click on a row to view details of a contract.
      %td{:valign => "bottom"}
        %b Serial #
      %td{:valign => "bottom"}
        - form_tag contracts_path, {:method => 'get', :name => 'serial_search' } do
          = text_field 'serial_search', 'serial_number', :size => 11, :value => @serial_number
          = submit_tag "Search"
      %td{:valign => "bottom", :align => 'right', :width => '200px'}
        = link_to "Clear Filter & Search", contracts_url
  - form_tag contracts_path, { :method => :get } do
    %div{:align => 'right', :style => 'width:980px'}
      = check_box_tag 'search_expired', @expired, @expired,{:name=> 'search[expired]'}
      Inc. Expired
      = submit_tag "Search"
  
    %table{:class => "sortable", :border => "2", :cellpadding => "2", :cellspacing => "2"}
      %thead
        %tr
          %th{:width => '80px'} Sales Office
          %th{:width => '80px'} Supp. Office
          %th{:width => '149px'} Account Name
          %th{:width => '100px'} SAID
          %th{:width => '150px'} Description
          %th{:width => '90px'} Start Date
          %th{:width => '90px'} End Date
          %th{:width => '80px'} Terms
          %th{:width => '85px'} Annual Rev
        %tr
          %th
            = select("search", "sales_office", @sales_offices, {:selected => @sales_office, :include_blank => true },{:style => "width: 82px"})
          %th
            = select("search", "support_office", @support_offices, {:selected => @support_office, :include_blank => true },{:style => "width: 82px"})
          %th
            = text_field 'search', 'account_name', :size => 19, :value => @account_name
          %th
            = text_field 'search', 'said', :size => 16, :value => @said
          %th
            = text_field 'search', 'description', :size => 20, :value => @description
          %th
            = text_field 'search', 'start_date', :size => 11, :value => @start_date
          %th
            = text_field 'search', 'end_date', :size => 11, :value => @end_date
          %th
            = select("search", "payment_terms", @pay_terms, {:selected => @pay_term, :include_blank => true },{:style => "width: 80px"})
          %th
            = text_field 'search', 'revenue', :size => 9, :value => @revenue
      - for contract in @contracts
        - rowclass = contract.end_date < Date.today ? 'expired' : '' unless contract.end_date.nil?
        %tr{:class => rowclass, :ondblclick => "doOnRowDblClicked(#{contract.id})", :onmouseover => 'this.style.background = "#a0d55c"', :onmouseout => 'this.style.background = ""'} 
          %td= h contract.sales_office_name
          %td= h contract.support_office_name
          %td{:title => contract.account_name.length > 18 ? contract.account_name : ""}= h contract.account_name.length > 18 ? contract.account_name.slice(0..18) + "..." : contract.account_name
          %td{:title => contract.said.length > 13 ? contract.said : ""}= h contract.said.length > 13 ? contract.said.slice(0..12) + "..." : contract.said
          %td{:title => contract.description.length > 18 ? contract.description : ""}= h contract.description.length > 18 ? contract.description.slice(0..18) + "..." : contract.description
          %td= h contract.start_date
          %td= h contract.end_date
          %td= h contract.payment_terms
          %td{:align => 'right'}= h number_to_currency(contract.total_revenue, :precision => 0)
  
%script
  function doOnRowDblClicked(rowId){window.location = "contracts/" + rowId}
  function searchForSerialNumber(){document.serial_search.submit;}
