= javascript_include_tag "contracts.js"
= javascript_include_tag "effects.js"
= javascript_include_tag "controls.js"
= javascript_include_tag "dragdrop.js"
- content_for :subtitle do
  Show Contract

#section1
  %b
    = link_to('Edit', edit_contract_path(@contract)) + ' | '  if current_user.has_role?(:contract_admin)
    = link_to('Destroy', contract_path(@contract), :confirm => 'Are you sure?', :method => :delete) + ' | '  if current_user.has_role?(:contract_admin)
    = link_to('Import Line Items', '/import?contract=' + @contract.id.to_s) if current_user.has_role?(:contract_admin)
#section2{:style => 'width:800px'}
  #general.boxed{:style => 'width:430px;height:260px'}
    %h2 General Details
    %p
      %label{:for => "contract_id"}
        Contract ID
      =h @contract.id.to_s
    %p
      %label{:for => "contract_account_name"}
        Account
      =h @contract.account_name.blank? ? 'N/A' : @contract.account_name
    %p
      %label{:for => "contract_sales_office_name"}
        Sales Office
      =h @contract.sales_office_name.blank? ? 'N/A' : @contract.sales_office_name
    %p
      %label{:for => "contract_support_office_name"}
        Support Office
      =h @contract.support_office_name.blank? ? 'N/A' : @contract.support_office_name
    %p
      %label{:for => "contract_sales_rep_id"}
        Sales rep
      = h @contract.sales_rep_id.blank? ? 'N/A' : @sales_rep
    %p
      %label{:for => "contract_said"}
        SAID
      =h @contract.said ||= 'N/A'
    %p
      %label{:for => "contract_sdc_ref"}
        SDC Reference
      =h @contract.sdc_ref ||= 'N/A'
    %p
      %label{:for => "contract_description"}
        Description
      %span{:title => @contract.description.to_s.length > 30 ? @contract.description : ""}
        =h @contract.description.blank? ? 'N/A' : truncate(@contract.description, 30, ".....")
    %p
      %label{:for => "contract_cust_po_num"}
        Customer PO
      =h @contract.cust_po_num.blank? ? 'N/A' : @contract.cust_po_num
    %p
      %label{:for => "contract_payment_terms"}
        Payment Terms
      =h @contract.payment_terms ||= 'N/A'
    %p
      %label{:for => "contract_platform"}
        Platform
      =h @contract.platform.blank? ? 'N/A' : @contract.platform
    %p
      %label{:for => "contract_renewal_sent"}
        Renewal Sent
      =h @contract.renewal_sent.blank? ? 'N/A' : @contract.renewal_sent
    %p
      %label{:for => "contract_renewal_sent"}
        Renewal Amount
      =h @contract.renewal_amount.nil? ? 'N/A' : @contract.renewal_amount

  #terms.boxed{:style => 'width:300px;height:260px'}
    %h2 Terms
    %p
      %label{:for => "contract_hw_support_level_id"}
        HW Support Level
      =h @contract.hw_support_level_id.blank? ? 'N/A' : @contract.hw_support_level_id
    %p
      %label{:for => "contract_sw_support_level_id"}
        SW Support Level
      =h @contract.sw_support_level_id.blank? ? 'N/A' : @contract.sw_support_level_id
    %p
      %label{:for => "contract_updates"}
        SW Updates
      =h @contract.updates.blank? ? 'N/A' : @contract.updates
    %p
      %label{:for => "contract_ce_days"}
        Num. CE Days
      =h @contract.ce_days.blank? ? 'N/A' : @contract.ce_days
    %p
      %label{:for => "contract_sa_days"}
        Num. SA Days
      =h @contract.sa_days.blank? ? 'N/A' : @contract.sa_days
    %p
      %label{:for => "contract_start_date"}
        Start Date
      =h @contract.start_date ||= 'N/A'
    %p
      %label{:for => "contract_end_date"}
        End Date
      =h @contract.end_date ||= 'N/A'
    %p
      %label{:for => "contract_multiyr_end"}
        Multi-Year End
      =h @contract.multiyr_end.blank? ? 'N/A' : @contract.multiyr_end
    %p
      %label{:for => "contract_so_number"}
        SD Sales Order
      =h @contract.so_number.blank? ? 'N/A' : @contract.so_number
    %p
      %label{:for => "contract_po_number"}
        SD Purch. Order
      =h @contract.po_number.blank? ? 'N/A' : @contract.po_number
    %p
      %label{:for => "contract_replacement_sdc_ref"}
        Replacement Ref
      =h @contract.replacement_sdc_ref.blank? ? 'N/A' : @contract.replacement_sdc_ref
    %p
      %label{:for => "contract_renewal_sent"}
        PO Received
      =h @contract.po_received.blank? ? 'N/A' : @contract.po_received
    %p
      %label{:for => "contract_expired"}
        Expired
      =h @contract.expired.blank? ? 'N/A' : @contract.expired

  #revenue.boxed{:style => 'width:230px;height:160px'}
    %h2 Revenue
    %p
      %label{:for => "contract_revenue"}
        Amount Paid
      - @tmp = number_to_currency(@contract.revenue)
      =h @tmp ||= 'N/A'
    %p
      %label{:for => "contract_annual_hw_rev"}
        Ann. HW Rev
      - @tmp = number_to_currency(@contract.annual_hw_rev)
      =h @tmp ||= 'N/A'
    %p
      %label{:for => "contract_annual_sw_rev"}
        Ann. SW Rev
      - @tmp = number_to_currency(@contract.annual_sw_rev)
      =h @tmp ||= 'N/A'
    %p
      %label{:for => "contract_annual_ce_rev"}
        Ann. CE Rev
      - @tmp = number_to_currency(@contract.annual_ce_rev)
      =h @tmp ||= 'N/A'
    %p
      %label{:for => "contract_annual_sa_rev"}
        Ann. SA Rev
      - @tmp = number_to_currency(@contract.annual_sa_rev)
      =h @tmp ||= 'N/A'
    %p
      %label{:for => "contract_annual_dr_rev"}
        Ann. DR Rev
      - @tmp = number_to_currency(@contract.annual_dr_rev)
      =h @tmp ||= 'N/A'

  #discounts.boxed{:style => 'width:190px;height:160px'}
    %h2 Discounts
    %p
      %label{:for => "contract_discount_pref_hw"}
        HW Disct %
      =h sprintf("%d%", (@contract.discount_pref_hw ||= 0.0) * 100)
    %p
      %label{:for => "contract_discount_pref_sw"}
        SW Disct %
      =h sprintf("%d%", (@contract.discount_pref_sw ||= 0.0) * 100)
    %p
      %label{:for => "contract_discount_pref_srv"}
        SRV Disct %
      =h sprintf("%d%", (@contract.discount_pref_srv ||= 0.0) * 100)
    %p
      %label{:for => "contract_discount_prepay"}
        Prepay Disct %
      =h sprintf("%d%", (@contract.discount_prepay ||= 0.0) * 100)
    %p
      %label{:for => "contract_discount_multiyear"}
        Multi-year Disct %
      =h sprintf("%d%", (@contract.discount_multiyear ||= 0.0) * 100)
    %p
      %label{:for => "contract_discount_ce_day"}
        CE Days Disc % 
      =h sprintf("%d%", (@contract.discount_ce_day ||= 0.0) * 100)
    %p
      %label{:for => "contract_discount_sa_day"}
        SA Days Disct %
      =h sprintf("%d%", (@contract.discount_sa_day ||= 0.0) * 100)

  #contact.boxed{:style => 'width:300px;height:160px'}
    %h2 Contact Details
    %p
      %label{:for => "contract_address1"}
        Address
      =h @contract.address1.blank? ? 'N/A' : @contract.address1
    %p
      %label{:for => "contract_address2"}
        &nbsp;
      =h @contract.address2.blank? ? 'N/A' : @contract.address2
    %p
      %label{:for => "contract_address3"}
        &nbsp;
      =h @contract.address3.blank? ? 'N/A' : @contract.address3
    %p
      %label{:for => "contract_contact_name"}
        Contact Name
      =h @contract.contact_name.blank? ? 'N/A' : @contract.contact_name
    %p
      %label{:for => "contract_contact_phone"}
        Contact Phone
      =h @contract.contact_phone.blank? ? 'N/A' : @contract.contact_phone
    %p
      %label{:for => "contract_contact_email"}
        Contact email
      =h @contract.contact_email.blank? ? 'N/A' : @contract.contact_email
    %p
      %label{:for => "contract_contact_note"}
        Contact Note
      =h @contract.contact_note.blank? ? 'N/A' : @contract.contact_note

#section3
  #results.boxed{:style => 'width:900px'}
    %h2 Relationships

    %p
      %b Replaced By
      %br
      - @replaced_by.each do |x|
        = link_to x.sdc_ref, contract_path(x.id)
    %p &nbsp;
    %p
      %b Replaces
      %br
      - @replaces.each do |x|
        = link_to x.sdc_ref, contract_path(x.id)

#section4
  #comments.boxed{:style => 'width:900px;margin-top:5px'}
    %h2 Comments
    -if current_user.has_role? :commenter
      %label{:for => "comment_body"}
        New Comment
      - form_for @comment, :url => comments_path do |f|
        = f.hidden_field "commentable_id", {:value => @contract.id}
        = f.hidden_field "commentable_type", {:value => 'Contract'}
        = f.hidden_field :user, {:value => current_user.login}
        = f.text_field :body
      %p &nbsp;
    - @comments.each do |comment|
      %p
        #date.comment{:style => 'width:200px'}
          = h comment.created_at.strftime("%m/%d/%y %I:%M %p") + " - "
          = h comment.user
        #body.comment{:style => 'width:600px'}
          = h comment.body
        #links.comment{:style => 'width:70px'}
          - if current_user.has_role?(:admin) || current_user.login == comment.user
            = link_to 'Edit', edit_comment_path(comment), :id => "edit_comment_" + comment.id.to_s
            = link_to 'Delete', comment_path(comment, :commentable_id => @contract.id, :commentable_type => 'Contract'), :confirm => 'Are you sure?', :method => :delete, :id => "delete_comment_" + comment.id.to_s

%p &nbsp
      
#section4
  %b 
    = link_to 'Export Line Items to Excel', :id => @contract.id, :action => 'lineitems', :format => 'xls'
  %br
  %b
    = link_to 'New Line Item', new_contract_line_item_path(@contract) if current_user.has_role?(:contract_admin, :contract_editor) && @hwlines.empty? && @swlines.empty? && @srvlines.empty?
  %br
  - form_tag mass_update_line_items_path, :method => :put do
    - unless @hwlines.empty?
      - @i = 0
      %h2
        Hardware Line Items
        %span{:style => 'font-size:8pt'}= link_to 'New Line Item', new_contract_line_item_path(@contract, :support_type => 'HW') if current_user.has_role?(:contract_admin, :contract_editor)
      %table{:class => 'main_table', :border => "1", :cellpadding => "2", :cellspacing => "2"}
        %thead
          =render :partial => 'lineitems_header', :locals => {:section => "HW"}
        %tbody#hwlines
          - @hwlines.each do |line_item|
            =render :partial => 'lineitems_row', :locals => {:line_item => line_item, :section => "HW"}
      %br/
    - unless @swlines.empty?
      %h2
        Software Line Items
        %span{:style => 'font-size:8pt'}= link_to 'New Line Item', new_contract_line_item_path(@contract, :support_type => 'SW') if current_user.has_role?(:contract_admin, :contract_editor)
      %table{:class => 'main_table', :border => "1", :cellpadding => "2", :cellspacing => "2"}
        %thead
          =render :partial => 'lineitems_header', :locals => {:section => "SW"}
        %tbody#swlines
          - @swlines.each do |line_item|
            =render :partial => 'lineitems_row', :locals => {:line_item => line_item, :section => "SW"}
      %br/
    - unless @srvlines.empty?
      %h2
        Services Line Items
        %span{:style => 'font-size:8pt'}= link_to 'New Line Item', new_contract_line_item_path(@contract, :support_type => 'SRV') if current_user.has_role?(:contract_admin, :contract_editor)
      %table{:class => 'main_table', :border => "1", :cellpadding => "2", :cellspacing => "2"}
        %thead
          =render :partial => 'lineitems_header', :locals => {:section => "SRV"}
        %tbody
          - @srvlines.each do |line_item|
            =render :partial => 'lineitems_row', :locals => {:line_item => line_item, :section => "SRV"}
      %br/
    - if current_user.has_role?(:contract_admin, :contract_editor)
      #results.boxed{:style => 'height:160px', :style => 'width:480px'}
        %h2 Line Items Mass Update
        - if current_user.has_role?(:contract_admin)
          %p= submit_tag "Delete Checked Items", :confirm => "Are you SURE you want to delete the selected Line Items?"
          %br/
        %p 
          %label{:for => 'support_provider'}
            Supp Provider
          = select_tag('support_provider', "<option value=''></option>" + options_from_collection_for_select(@support_providers, 'label', 'label'))
        %p
          %label{:for => 'location'}
            Supp Location
          = text_field_tag "location"
        %p
          %label{:for => 'begins'}
            Begins
          = text_field_tag "begins"
        %p
          %label{:for => 'ends'}
            Ends
          = text_field_tag "ends"
          = hidden_field_tag "contract_id", @contract.id
        %p
          = submit_tag "Update Checked Items"

-if current_user.has_role?(:contract_editor, :contract_admin)
  = sortable_element('hwlines', :url => {:controller => :line_items, :action => "sort", :id => @contract}, :handle => :drag_handle, :tag => :tr)
  = sortable_element('swlines', :url => {:controller => :line_items, :action => "sort", :id => @contract}, :handle => :drag_handle, :tag => :tr)

