- content_for :subtitle do
  Appgen Reports

#section1
  #general.boxed{:style => 'width:800px'}
    %h2 Query Details
    - form_tag 'appgen', {:method => 'post', :name => 'appgen' } do
      %p
        %label{:for => "appgen_delimited"}
          Delimited
        = select_tag "appgen[delimited]", options_for_select(["true","false"], @delimited)
      %p
        %label{:for => "appgen_dir"}
          Directory
        = select_tag "appgen[dir]", options_for_select(["AP","AR","BI","BR","GL","IV","PO","OE"], @dir)
      %p
        %label{:for => "appgen_table"}
          Table
        = text_field 'appgen', 'table', :size => 11, :value => @table
      %p
        %label{:for => "appgen_mv_field_count"}
          MV Field Count
        = text_field 'appgen', 'mv_field_count', :size => 11, :value => @mv_field_count
      %p
        %label{:for => "appgen_out_file"}
          Output File
        = text_field 'appgen', 'out_file', :size => 11, :value => @out_file
      %p
        %label{:for => "appgen_filters"}
          Filters
        = text_field 'appgen', 'filters', :size => 30, :value => @filters
      %p
        %label{:for => "appgen_sort_str"}
          Sort String
        = text_field 'appgen', 'sort_str', :size => 30, :value => @sort_str
      %p
        %label{:for => "appgen_fields"}
          Field List
        = text_field 'appgen', 'fields', :size => 105, :value => @fields
      %br/
      = submit_tag "Get Data"
  
#section2

  %p= @query
  %pre= @results
