- content_for :subtitle do
  Admin Reports

#section1
  %h2{:style => 'margin:15px 0px 0px 3px'} Support Cash Flow Forecast
  
  %table{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      %tr
        %th
          %b Sales Office
        %th
          %b Terms
        %th
          %b Type
        %th
          %b Customer
        %th
          %b Description
        %th
          %b Current Rev.
        %th
          %b Projected Rev.
        %th
          %b{:width => '90px'} Start Date
        %th
          %b{:width => '90px'} End Date
    %tbody
      - @contracts.each do |x|
        %tr
          %td= h x.sales_office_name
          %td= h x.payment_terms
          %td= h x.status
          %td= h x.account_name
          %td= h x.description
          %td{:align => 'right'}= h number_to_currency(x.total_revenue, :precision => 2)
          %td{:align => 'right'}= h number_to_currency(x.expected_revenue, :precision => 2)
          %td= h x.start_date
          %td= h x.end_date

