- content_for :subtitle do
  Admin Reports

%ul{:id => 'submenu', :class => 'sub_menu'}
  %li
    = link_to( 'Dropdowns', dropdowns_path )
  %li
    = link_to( 'Users', users_path )
  %li
    = link_to 'Import', import_index_path
    
%p &nbsp;

#section1
  %h2{:style => 'margin:15px 0px 0px 3px'} Support Cash Flow Forecast
  
  %table{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      %tr
        %th
          %b Primary Office
        %th
          %b Terms
        %th
          %b Customer
        %th
          %b Description
        %th
          %b Annual Rev
        %th
          %b Start Date
        %th
          %b End Date
    %tbody
      - for x in @contracts
        %tr
          %td= h x.sales_office_name
          %td= h x.payment_terms
          %td= h x.account_name
          %td= h x.description
          %td= h x.total_revenue
          %td= h x.start_date
          %td= h x.end_date

