- content_for :subtitle do
  Admin Area
  
#section1
  %h1
    Reports
  %p
    = link_to 'Missing Subcontract', {:controller => "admin", :action => "missing_subcontracts"}
  %p
    = link_to 'Missing Line Items', {:controller => "admin", :action => "lineitems"}
  %p
    = link_to 'Missing Account', {:controller => "admin", :action => "account_id"}
  %p
    = link_to 'Support Cash Flow Forecast', {:controller => "admin", :action => "cashflow"}
  %p
    = link_to 'Potential Office Planning', {:controller => "reports", :action => "potentialoffices"}
  %p
    = link_to "Jared's Report", {:controller => "admin", :action => "jared"}
  %h2 Appgen Invoices
  %p
    = link_to 'Upfront Orders', upfront_orders_path
  %p
    = link_to 'Appgen Order List', appgen_orders_path

