<%= f.error_messages %>

<p>
  <%= f.label :product_number %><br />
  <%= f.text_field :product_number %>
</p>
<p>
  <%= f.label :license_type %><br />
  <%= f.select :license_type, @license_types %>
</p>
<p> For Integrity Products, use the following tier to socket table:
  <table>
  <tr>
    <th>Sockets</th><th>Tier</th>
  </tr>
  <tr>
    <td>blade</td><td>0</td>
  </tr>
  <tr>
    <td>1-2</td><td>1</td>
  </tr>
  <tr>
    <td>3-4</td><td>2</td>
  </tr>
  <tr>
    <td>5-8</td><td>3</td>
  </tr>
  <tr>
    <td>16+</td><td>4</td>
  </tr>
  </table>
  <%= f.label :tier %><br />
  <%= f.select :tier, @tier_choices %>
</p>
<p>
  <%= f.label :license_product %><br />
  <%= f.text_field :license_product %>
</p>
<p>
  <%= f.label :server_line %> (Leave Blank if product applies to both)<br />
  <%= f.select :server_line, [['N/A',nil],'HP9000','Integrity'] %>
</p>
<p>
  <%= f.label :explanation %> - used for 'Other' License Types<br />
  <%= f.text_area :explanation %>
</p>
