- content_for :subtitle do
  SW Products
= render :partial => 'tools/tools_header'
#section1
  %p &nbsp;
  %h2 
    Editing swproduct for pattern 
    = "'" + @swlist_whitelist.pattern + "'"
#section2
  - form_for(:swproduct, :url => swlist_whitelist_swproduct_path(@swlist_whitelist.id, @swproduct.id), :html => { :method => :put } ) do |f|
    = render :partial => "form", :locals => { :f => f } 
    %p
      = f.submit "Update"
  = link_to 'Cancel', @swlist_whitelist
