%p
  = f.label :model_name
  = f.text_field :model_name
%p
  = f.label :server_line
  = f.text_field :server_line
%p
  = f.label :tier
  = f.text_field :tier
%p
  = f.label :sockets
  = f.text_field :sockets
