<% content_for :subtitle do %>
  Servers
<% end %>
<h1>Editing server</h1>

<% form_for(@server) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :model_name %><br />
    <%= f.text_field :model_name %>
  </p>
  <p>
    <%= f.label :server_line %><br />
    <%= f.text_field :server_line %>
  </p>
  <p>
    <%= f.label :tier %><br />
    <%= f.text_field :tier %>
  </p>
  <p>
    <%= f.label :sockets %><br />
    <%= f.text_field :sockets %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @server %> |
<%= link_to 'Back', servers_path %>
