<% content_for :subtitle do %>
  Servers
<% end %>
<%= render :partial => '/tools/tools_header' %>
<table>
  <tr>
    <th>Model name</th>
    <th>Server line</th>
    <th>Tier</th>
    <th>Sockets</th>
    <th valign="center" colspan="3"> Options </th>
  </tr>

<% for server in @servers %>
  <tr>
    <td><%=h server.model_name %></td>
    <td><%=h server.server_line %></td>
    <td><%=h server.tier %></td>
    <td><%=h server.sockets %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to_if current_user.role == ADMIN, 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New server', new_server_path %>
