- content_for :subtitle do
  Inventory

#section1
  - form_tag inventory_items_path, { :method => :get } do
    %div{:style => 'width:764px;padding-bottom:0px;'}
      %div{:align => 'left'}
        %h2 Inventory Items
      %div{:align => 'right', :style => 'padding-bottom:1px;width:764px;'}
        -if current_user.has_role?(:admin)
          = link_to 'New Inventory Item', new_inventory_item_path, :align => 'right'
          &nbsp;
        %b
          = link_to 'Clear Search', inventory_items_path
          &nbsp;
        = submit_tag "Search", :style => 'align:right;'
  
    %table{:class => "sortable", :border => "2", :cellpadding => "2", :cellspacing => "2"}
      %thead
        %tr
          %th{:width => '88px'}
            %label{:for => 'search_tracking'}Tracking #
          %th{:width => '130px'}
            %label{:for => 'search_item_code'}Part Number
          %th{:width => '238px'}
            %label{:for => 'search_description'}Description
          %th{:width => '112px'}
            %label{:for => 'search_serial_number'}Serial Number
          %th{:width => '110px'}
            %label{:for => 'search_warehouse'}Warehouse
          %th{:width => '80px'}
            %label{:for => 'search_location'}Location
          %th{:width => '80px'}
            %label{:for => 'search_manufacturer'}Manufacturer
        %tr
          %th{:class => "search"}
            = text_field 'search', 'tracking', :size => 8, :value => @tracking
          %th{:class => "search"}
            = text_field 'search', 'item_code', :size => 15, :value => @item_code
          %th{:class => "search"}
            = text_field 'search', 'description', :size => 33, :value => @description
          %th{:class => "search"}
            = text_field 'search', 'serial_number', :size => 12, :value => @serial_number
          %th{:class => "search"}
            = select("search", "warehouse", @warehouses, {:selected => @warehouse, :include_blank => true },{:style => "width: 104px"})
          %th{:class => "search"}
            = select("search", "location", @locations, {:selected => @location, :include_blank => true },{:style => "width: 74px"})
          %th{:class => "search"}
            = select("search", "manufacturer", @manufacturers, {:selected => @manufacturer, :include_blank => true },{:style => "width: 74px"})
      - @inventory_items.each do |inventory_item|
        %tr 
          %td= h inventory_item.tracking
          %td= h inventory_item.item_code
          %td= h inventory_item.description
          %td= h inventory_item.serial_number
          %td= h(inventory_item.inventory_warehouse.description) unless inventory_item.inventory_warehouse.nil?
          %td= h inventory_item.location
          %td= h inventory_item.manufacturer

