#section1
  #results.boxed
    %h2 General Details
    %p
      %label{:for => "user_login"}
        Login
      = f.text_field :login

    %p
      %label{:for => "sugar_id"}
        Sugar ID
      = f.text_field :sugar_id

    %p
      %label{:for => "user_first_name"}
        First Name
      = f.text_field :first_name

    %p
      %label{:for => "user_last_name"}
        Last Name
      = f.text_field :last_name

    %p
      %label{:for => "user_office"}
        Office
      = f.collection_select(:office, @team, :id, :name, { :include_blank => true }, {:onchange => "document.getElementById('user_team_name').value = this.options[this.selectedIndex].text"})

    %p
      %label{:for => "user_role"}
        Role
      = f.text_field :role

    %p
      %label{:for => "user_email"}
        Email
      = f.text_field :email

    %p
      %label{:for => "user_crypted_password"}
        Crypted Password
      = f.text_field :crypted_password
#section2
  #results.boxed
    %h2 User Roles
    %ul
      - @roles.each do |role|
        %li{:style => 'list-style:none;'}
          = check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role)
          = role.name + ' - ' + role.description


