- content_for :subtitle do
  User List
= javascript_include_tag "sorttable.js" 

#section2
  %p= link_to 'Update Users from Sugar', refresh_path

  %table{:class => "sortable"}
    %tr
      %th Login
      %th Name
      %th Role
      %th Office
      %th{:colspan => "2"} Actions
    
    - for user in @users
      %tr
        %td= h user.login
        %td= h user.first_name + ' ' + user.last_name
        %td= h @roles_labels[user.role]
        %td= h user.office
        %td= link_to ' Edit ', edit_user_path(user)
        %td= link_to ' Destroy ', user_path(user), :confirm => 'Are you sure?', :method => :delete


#section2
  = link_to 'New user', new_user_path
