#comments.boxed{:style => 'display:block;float:left;margin-top:5px'}
  %h2 Comments
  -if current_user.has_role? :commenter
    %label{:for => "comment_body"}
      New Comment
    - form_for @comment, :url => comments_path do |f|
      = f.hidden_field "commentable_id", {:value => object.id}
      = f.hidden_field "commentable_type", {:value => object.class.to_s}
      = f.hidden_field :user, {:value => current_user.login}
      = f.text_field :body
    %p &nbsp;
  - @comments.each do |comment|
    .comment_container
      .comment_data
        #links.comment.links
          - if current_user.has_role?(:admin) || current_user.login == comment.user
            = link_to image_tag("edit_inline.gif", :border => 0), edit_comment_path(comment), :id => "edit_comment_" + comment.id.to_s, :title => 'Edit Comment' do
              Edit
            %br/
            = link_to image_tag("delete_inline.gif", :border => 0), comment_path(comment, :commentable_id => object.id, :commentable_type => object.class.to_s), :confirm => 'Are you sure?', :method => :delete, :id => "delete_comment_" + comment.id.to_s, :title => 'Delete Comment'
        #date.comment.date
          = h comment.created_at.strftime("%m/%d/%y %I:%M %p")
          %br/
          = h comment.user
      .comment.bodywrap
        #body.comment.body
          = h comment.body
