- content_for :subtitle do
  Import Contract
#section1
  %h2 Import data from Excel Quoter Tool
  - form_tag '/import', :multipart => true do
    %p
      %label{:for => "account_id"}
        Account
      = select_tag('account_id', options_from_collection_for_select(@sugar_accts, 'id', 'name'), { :include_blank => true })
    %p
      %label{:for => "sales_rep_id"}
        Sales Rep
      = select_tag('sales_rep_id', options_from_collection_for_select(@sales_reps, 'id', 'full_name'))
    %p
      %label{:for => "sales_office"}
        Sales Office
      = select_tag('sales_office', options_from_collection_for_select(@sales_offices, 'id', 'name'))
    %p
      %label{:for => "support_office"}
        Support Office
      = select_tag('support_office', options_from_collection_for_select(@support_offices, 'id', 'name'))
    %p
      %label{:for => "platform"}
        Platform
      = select_tag('platform', options_from_collection_for_select(@platform, 'label', 'label'))
    %p
      %label{:for => "importfile"}
        File to import
      = file_field_tag('importfile')
    
    = submit_tag "Import File"


#section2
  = link_to('Home', home_path)
