<h1>Listing io_slots</h1>

<table>
  <tr>
    <th>Server</th>
    <th>Slot number</th>
    <th>Path</th>
    <th>Description</th>
  </tr>
<% #for server in @servers %>
  <% for io_slot in @io_slots %>
    <tr>
      <td><%=h io_slot.server.model_name %></td>
      <td><%=h io_slot.slot_number %></td>
      <td><%=h io_slot.path %></td>
      <td><%=h io_slot.description %></td>
      <td><%= link_to 'Show', io_slot %></td>
      <td><%= link_to 'Edit', edit_io_slot_path(io_slot) %></td>
      <td><%= link_to 'Destroy', io_slot, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
<% #end %>
</table>

<br />

<%=# link_to 'New io_slot', new_io_slot_path %>
