<% content_for :subtitle do %>
  Tools - SWList
<% end %>
<p>
  <%= link_to 'Parse another swlist', swlists_path %>
</p>
<h2>Affirmitive Matches - Translated</h2>
<table>
  <tr>
    <th>Product Number(s)</th>
    <th>Qty</th>
  <% @productslist_array.each do |line| %>
    <% unless line[0] == '' %>
      <tr>
        <td font='courier'><%= line[0] %></td>
        <td font='courier'><%= line[1] %></td>
        </tr>
      <% end %>
  <% end %>
</table>
<h2>Other affirmitive matches - not translated</h2>
<table>
  <tr>
    <th>Product Number(s)</th>
    <th>Qty</th>
  <% @whitelist_array.each do |line| %>
    <tr>
      <td font='courier'><%= line %></td>
    </tr>
  <% end %>
</table><h2>Unknown Entries (please have these added to whitelist or blacklist)</h2>
<table>
  <% @unmatched_array.each do |line| %>
    <tr><td font='courier'><%= line %></td></tr>
  <% end %>
</table>
<h2>Do-not-Quote list</h2>
<table>
  <% @blacklist_array.each do |line| %>
    <tr><td class='blacklist'><%= line %></td></tr>
  <% end %>
</table>
