- content_for :subtitle do
  Tools - SWList
= render_partial '/tools/tools_header'
%p &nbsp;

%p
  %b 
    =link_to 'Parse another swlist', swlists_path

- if @productslist_array.size > 0
  %h2 Products to Quote
  %table
    %tr
      %th Product Number(s)
      %th Qty
    - @productslist_array.each do |line|
      - unless line[0] == ''
        %tr
          %td{:font => 'courier'}
            = line[0]
          %td{:font => 'courier'}
            = line[1]
  %p &nbsp;

- if @whitelist_array.size > 0
  %h2 These lines must be manually translated to product numbers
  %p{:style => 'font-family: courier'}
    - @whitelist_array.each do |line|
      %br
      = line
  %p &nbsp;

- if @unmatched_array.size > 0
  %h2 Unknown Entries (please have these added to whitelist or blacklist)
  %p{:style => 'font-family: courier'}
    - @unmatched_array.each do |line|
      %br
      = line
  %p &nbsp;

- if @blacklist_array.size > 0
  %h2 Ignored SWLIST lines
  %p{:style => 'font-family: courier'}
    - @blacklist_array.each do |line|
      %br
      = line
