- content_for :subtitle do
  Opportunity List

#section1
  - form_tag '/opportunities', :method => :post do
    %p Name:
    = text_field_tag 'name'
    Name2
    = text_field_tag 'name2'
    %p Name3
    = text_field_tag 'name3'
      
    = submit_tag "Search"

  %table{:border => "2", :cellpadding => "2", :cellspacing => "2"}
    %tr
      %th Account name
      %th Opp type
      %th Name
      %th Amount
      %th Sales Stage
      %th &nbsp;

    - for opportunity in @opportunities
      %tr
        %td= h opportunity.acct_name
        %td= h opportunity.opportunity_type
        %td= h opportunity.name
        %td= h opportunity.amount
        %td= h opportunity.sales_stage
        %td= link_to 'Show', opportunity

#section2
  = link_to 'New opportunity', new_opportunity_path
