=javascript_include_tag "upfront_orders_review_import.js"
=include_calendar
-content_for :subtitle do
  Upfront Orders
%h1 Review and Import
- form_tag save_import_upfront_order_path(@upfront_order), :method => :put do
  #section1
    =submit_tag "Save Contract and Line Items"
    =hidden_field_tag 'contract[sales_office_name]', @office_selected_name
    =hidden_field_tag 'contract[support_office_name]', @office_selected_name
    =hidden_field_tag 'contract[account_name]', @account_selected_name
    %h2 Contract
    #results.boxed{:style => 'width: 300px;height: 350px'}
      %h2 Original Order Information
      %label{:for => :cust_name} Cust Name
      =@linked_order.cust_name
      %br/
      %label Address
      =@linked_order.address2
      %br/
      %label &nbsp;
      =@linked_order.address3
      %br/
      %label &nbsp;
      =@linked_order.address4
      %br/
      %label Sales Rep
      =@linked_order.sales_rep
      %br/
      %label Ship Date
      =@linked_order.ship_date
      %br/
      %label SO Number
      =@linked_order.num
      %br/
    #results.boxed{:style => 'width: 400px;height: 350px'}
      %h2 New Contract Details
      %label{:for => :account_id} Account ID
      =select_tag("contract[account_id]", '<option></option>' + options_from_collection_for_select(@sugar_accts, :id, :name, @account_selected_id), :onchange => "$('contract[account_name]').value = this.options[this.selectedIndex].text;toggleContracts();", :style => 'width: 200px')
      %br/
      %label{:for => :sales_office} Sales Office
      =select_tag("contract[sales_office]", '<option></option>' + options_from_collection_for_select(@sales_offices, :id, :name, @office_selected_id), :onchange => "$('contract[sales_office_name]').value = this.options[this.selectedIndex].text", :style => 'width: 200px')
      %br/
      %label{:for => :support_office} Support Office
      =select_tag("contract[support_office]", '<option></option>' + options_from_collection_for_select(@support_offices, :id, :name, @office_selected_id), :onchange => "$('contract[support_office_name]').value = this.options[this.selectedIndex].text", :style => 'width: 200px')
      %br/
      %label{:for => :description} Description
      =text_field_tag 'contract[description]', '', :size => 35
      %br/
      %label{:for => :sales_rep_id} Sales Rep
      =select_tag("contract[sales_rep_id]", '<option></option>' + options_from_collection_for_select(@reps, :id, :full_name, @rep_selected_id), :style => 'width: 200px')
      %br/
      %label{:for => :platform} Platform
      =select_tag("contract[platform]", '<option></option>' + options_from_collection_for_select(@platform, :label, :label), :style => 'width: 200px')
      %br/
      %label{:for => :start_date} Start Date
      =date_select_tag 'contract[start_date]', (@linked_order.ship_date. + 1.day).to_s(:local)
      %br/
      %label{:for => :end_date} End Date
      =date_select_tag 'contract[end_date]', (@linked_order.ship_date + 1.year).to_s(:local)
      %br/
      %label{:for => :multiyr_end} Multiyr. end date
      =date_select_tag 'contract[multiyr_end]', (@linked_order.ship_date + 1.year).to_s(:local)
      %br/
      %label{:for => :hw_support_level_id} HW Support Level
      =select_tag("contract[hw_support_level_id]", '<option></option>' + options_from_collection_for_select(@types_hw, :label, :label), :style => 'width: 200px')
      %br/
      %label{:for => :sw_support_level_id} SW Support Level
      =select_tag("contract[sw_support_level_id]", '<option></option>' + options_from_collection_for_select(@types_sw, :label, :label), :style => 'width: 200px')
      %br/
      %label{:for => :updates} Updates?
      =select_tag 'contract[updates]', options_for_select(%w(true false))
      %br/
      %label{:for => :ce_days} CE Days
      =text_field_tag 'contract[ce_days]', 0
      %br/
      %label{:for => :sa_days} SA Days
      =text_field_tag 'contract[sa_days]', 0
      %br/
  #section1
    %table
      %thead
        %tr
          %th Account Name
          %th SAID
          %th Description
          %th Start Date
          %th End Date
      %tbody#contracts
        -@contracts.each do |c|
          %tr{:id => c.account_id}
            %td{:title => tooltip_if_truncated(c.account_name, 30)}= h truncate(c.account_name, 30)
            %td{:title => tooltip_if_truncated(c.said, 25)}= h truncate(c.said, 25)
            %td{:title => tooltip_if_truncated(c.description, 30)}= h truncate(c.description, 30)
            %td= c.start_date
            %td= c.end_date
          
  #section1
    #results.boxed{:style => 'width:400px'}
      %h2 Upfront Revenue
      %label Main Discount: 
      =@linked_order.net_discount.to_s + '%'
      %table{:class => 'plain'}
        %tr
          %th Part#
          %th Desc.
          %th list $
          %th disc%
        - @support_revenue_lines.each do |srl|
          %tr
            %td= srl.part_number
            %td= srl.description
            %td= srl.price
            %td= srl.discount.to_s + '%'
        %tr
          %td{:colspan => 2, :border => 'none'} Total
          %td= @srltotal
          %td &nbsp;
        
    #results.boxed{:style => 'width:300px;height:170px'}
      %h2 Revenue
      %label{:for => :revenue} Total
      =text_field_tag 'contract[revenue]', '0.0'
      %br/  
      %label{:for => :annual_hw_rev} Annual HW
      =text_field_tag 'contract[annual_hw_rev]', '0.0'
      %br/
      %label{:for => :annual_sw_rev} Annual SW
      =text_field_tag 'contract[annual_sw_rev]', '0.0'
      %br/
      %label{:for => :annual_ce_rev} Annual CE
      =text_field_tag 'contract[annual_ce_rev]', '0.0'
      %br/
      %label{:for => :annual_sa_rev} Annual SA
      =text_field_tag 'contract[annual_sa_rev]', '0.0'
      %br/
      %label{:for => :annual_dr_rev} Annual DR
      =text_field_tag 'contract[annual_dr_rev]', '0.0'
      %br/
  #section2
    %h2 Line Items
    %em
      %span{:style => "background: #FF0000"}
        lines in red are not found in pricing DB.
    %table
      %thead
        %tr
          %th HW?
          %th SW?
          %th Part Number
          %th Description
          %th Serial Number
          %th Qty
          %th Support Provider
      %tbody
        - @lineitems.each do |line|
          %tr{:class => class_for_pn(line.part_number)}
            %td= select_tag 'line_item[][is_hw]', options_for_select(%w(true false), line.hwchecked)
            %td= select_tag 'line_item[][is_sw]', options_for_select(%w(true false), line.swchecked)
            %td= text_field_tag 'line_item[][product_num]', line.part_number
            %td= line.description
            %td= text_field_tag 'line_item[][serial_num]', line.serialnum
            %td= text_field_tag 'line_item[][qty]', line.quantity, :style => 'width:3em;text-align:center', :autocomplete => 'off'
            %td= select_tag 'line_item[][support_provider]', options_from_collection_for_select(@support_providers, :name, :name, "Sourcedirect")
    %p &nbsp;
    =submit_tag "Save Contract and Line Items"
    %p &nbsp;
