=javascript_include_tag "upfront_orders_show.js"
- content_for :subtitle do
  Upfront Order Details

#section1
  %p
    =link_to 'Manual Edit', edit_upfront_order_path(@upfront_order)
    &nbsp;|&nbsp;
    =link_to 'Upfront Orders Listing', upfront_orders_path
  #results.boxed{:style => 'width:350px'}
    %h2 Order Information
    %label Appgen Order #
    =@upfront_order.appgen_order_id
    %br/
    %label Cust. Address
    =@upfront_order.appgen_order.cust_name
    %br/
    %label &nbsp;
    =@upfront_order.appgen_order.address2
    %br/
    -unless @upfront_order.appgen_order.address3.blank? 
      %label &nbsp;
      =@upfront_order.appgen_order.address3
      %br/
    %label &nbsp;
    =@upfront_order.appgen_order.address4
    %br/
    %label Ship Date
    =@upfront_order.appgen_order.ship_date
  #results.boxed{:style => 'width:350px'}
    %h2 Status
    - form_for @upfront_order do |u|
      %label Upfront Support
      =u.check_box :has_upfront_support, :onchange => 'return toggleCompleted();'
      =u.hidden_field :completed
      #contractid{:style => 'display:none'}= @upfront_order.contract_id
      &nbsp;
      =submit_tag 'Update'
    %label Completed
    =@upfront_order.completed
    -unless @upfront_order.completed
      &nbsp-&nbsp;
      =link_to "Process Order", review_import_upfront_order_path(@upfront_order)
    %br/
    %label Contract ID
    -if @upfront_order.contract_id == nil
      N/A
    -else
      =link_to @upfront_order.contract_id, contract_path(@upfront_order.contract_id)
    %br/
#section2
  %h2 Line Items
  %table
    %thead
      %tr
        %th Part Number
        %th Description
        %th Serial #
        %th Qty
        %th Price
        %th Discount
    %tbody
      -@lineitems.each do |line|
        %tr
          %td= line.part_number
          %td= line.description
          %td= line.appgen_order_serial.serial_number unless line.appgen_order_serial == nil
          %td= line.quantity
          %td= line.price
          %td= line.discount
