- content_for :top_js do
  =javascript_include_tag "upfront_orders_show.js"
- content_for :subtitle do
  Upfront Order Details

#section1
  %p
    - if current_user.has_role?(:admin)
      =link_to 'Manual Edit', edit_upfront_order_path(@upfront_order)
      &nbsp;|&nbsp;
    =link_to 'Back to Upfront Orders Listing', upfront_orders_path
  #results.boxed{:style => 'width:350px'}
    %h2 Order Information
    %label Sales Order #
    =@upfront_order.linked_order.num
    %br/
    %label Cust. Address
    =@upfront_order.linked_order.cust_name
    %br/
    %label &nbsp;
    =@upfront_order.linked_order.address2
    %br/
    -unless @upfront_order.linked_order.address3.blank?
      %label &nbsp;
      =@upfront_order.linked_order.address3
      %br/
    %label &nbsp;
    =@upfront_order.linked_order.address4
    %br/
    %label Ship Date
    =@upfront_order.linked_order.ship_date
  #results.boxed{:style => 'width:250px'}
    %h2 Status
    -if current_user.has_role?(:admin)
      - form_for @upfront_order do |u|
        %label Upfront Support
        =u.check_box :has_upfront_support, :onchange => 'return toggleCompleted();'
        =u.hidden_field :completed
        #contractid{:style => 'display:none'}= @upfront_order.support_deal_id
        &nbsp;
        =submit_tag 'Update'
    %label Completed
    =@upfront_order.completed
    -unless @upfront_order.completed
      =link_if current_user.has_role?(:admin), " - Process Order", review_import_upfront_order_path(@upfront_order)
    %br/
    %label Contract ID
    -if @upfront_order.support_deal_id == nil
      N/A
    -else
      =link_to @upfront_order.support_deal_id, contract_path(@upfront_order.support_deal_id)
    %br/
  #notes.boxed{:style=>'width: 400px'}
    %h2 Notes
    %p
      =simple_format(@upfront_order.linked_order.note.to_s, :style => 'margin-top:1em;padding:3')
#section2
  %h2 Line Items
  %table
    %thead
      %tr
        %th Part Number
        %th Description
        %th Serial #
        %th Qty
        %th Price
        %th Discount
    %tbody
      -@lineitems.each do |line|
        %tr
          %td= line.part_number
          %td= line.description
          %td= line.serialnum
          %td= line.quantity
          %td= line.price
          %td= line.discount
