#section1
  #results.boxed
    %h2 Details
    %p
      %label{:for => "line_item_support_type"}
        Type
      = f.select :support_type, @support_types

    %p
      %label{:for => "line_item_support_provider"}
        Support Provider
      = f.select :support_provider, @support_providers

    %p
      %label{:for => "line_item_location"}
        Support Location
      = f.text_field :location

    %p
      %label{:for => "line_item_product_num"}
        Product num
      = f.text_field :product_num
    %p{:style => 'text-align:left'}
      %label &nbsp;
      = link_to_remote 'Update Description & Price', :url => form_pull_pn_data_line_items_path(:format => :js), :method => :post, :failure => 'alert(\'Product num lookup failed\n(invalid Product num?)\')', :with => "'product_num=' + $('line_item_product_num').value + '&support_type=' + $('line_item_support_type').value + '&support_deal_id=' + #{@support_deal.id.to_s}", :before => "Element.show('spinner')", :complete => "Element.hide('spinner')"
      %span#spinner{:style => 'display:none'}= image_tag '/images/spinner_gray.gif'
    %br/
    %p
      %label{:for => "line_item_serial_num"}
        Serial num
      = f.text_field :serial_num, :size => 18

    %p
      %label{:for => "line_item_description"}
        Description
      = f.text_field :description

    %p
      %label{:for => "line_item_begins"}
        Begins
      = f.text_field :begins, :size => 9

    %p
      %label{:for => "line_item_ends"}
        Ends
      = f.text_field :ends, :size => 9

    %p
      %label{:for => "line_item_qty"}
        Qty
      = f.text_field :qty, :size => 3

    %p
      %label{:for => "line_item_list_price"}
        List Price
      = f.text_field :list_price, :size => 9

      = f.hidden_field :position

    %p
      %label{:for => "line_item_note"}
        Note
      = f.text_field :note

