#section1
  #results.boxed
    %h2 Details
    %p
      %label{:for => "line_item_support_type"}
        Type
      = f.text_field :support_type

    %p
      %label{:for => "line_item_support_provider"}
        Support Provider
      = select_tag('support_provider', "<option value=''/>" + options_from_collection_for_select(@support_providers, 'label', 'label', @line_item.support_provider))

    %p
      %label{:for => "line_item_location"}
        Support Location
      = f.text_field :location

    %p
      %label{:for => "line_item_product_num"}
        Product num
      = f.text_field :product_num
    %p{:style => 'text-align:left'}
      %label &nbsp;
      = link_to_remote 'Update Description & Price', :url => edit_contract_line_item_path(:format => :js, :contract_id => @contract.id, :id => @line_item.id), :method => :get, :failure => 'alert(request.status)', :with => "'product_num=' + $('line_item_product_num').value"
    %br/
    %p
      %label{:for => "line_item_serial_num"}
        Serial num
      = f.text_field :serial_num

    %p
      %label{:for => "line_item_description"}
        Description
      = f.text_field :description

    %p
      %label{:for => "line_item_begins"}
        Begins
      = f.text_field :begins

    %p
      %label{:for => "line_item_ends"}
        Ends
      = f.text_field :ends

    %p
      %label{:for => "line_item_qty"}
        Qty
      = f.text_field :qty

    %p
      %label{:for => "line_list_price"}
        List Price
      = f.text_field :list_price
      
