%tr{:name => x.sales_office_name}
  %td= h x.sales_office_name
  %td= h x.account_name
  %td= h x.id
  %td{:align => 'center'}= h x.sugar_acct.client_category
  %td= link_to x.description, contract_url(x.id)
  %td{:align => 'center'}= h x.start_date
  %td{:align => 'center'}= h x.end_date
  - if current_user.has_role?(:renewals_manager)
    %td{:align => 'center', :title => 'Set "Renewal Sent" date'}
      = link_to x.renewal_created.blank? ? 'N/A' : x.renewal_created.to_s, {:controller=> :contracts, :action => :sentrenewal, :id => x.id}, :method => :post
    %td{:align => 'center', :title => 'Set "Renewal Sent" date'}
      = link_to x.renewal_sent.blank? ? 'N/A' : x.renewal_sent.to_s, {:controller=> :contracts, :action => :sentrenewal, :id => x.id}, :method => :post
  -else
    %td{:align => 'center'}= h x.renewal_sent.blank? ? 'N/A' : x.renewal_sent.to_s
  %td{:align => 'right'}= h x.days_due
  %td{:align => 'right'}= number_to_currency(x.revenue, :format => '%n')
  %td{:align => 'right'}= number_to_currency(x.renewal_amount, :format => '%n')
  %td{:align => 'center'}= h comment_link_if_present(x)
  - if current_user.has_role?(:admin)
    %td
      = link_to "check", url_for(:controller => :admin, :action => :check_for_renewals, :params => {:id => x.id})
