- content_for :subtitle do
  Reports

%ul{:id => 'submenu', :class => 'sub_menu'}
  %li
    = link_to 'Dashboard', reports_path, :class => 'active'
  %li
    = link_to 'Renewals', {:controller => "reports", :action => "renewals"}
  %li
    = link_to 'Inventory', {:controller => "reports", :action => "sparesreq"}
  %li
    = link_to 'Customers', {:controller => "reports", :action => "customers"}
%p &nbsp;

#section1
  %div{:class=>'boxed', :style=>'background:white'}
    %h2
      Counts By Office &nbsp;&nbsp;&nbsp;
      %span{:style => 'font-size:8pt;text-transform:lowercase'}= link_to_function 'Format for print', "toggleHeaderStuff()"
    %table{:padding => '2', :border => '1'}
      %thead
        %tr
          %th
          %th{:colspan => '6'}
            Contracts
          %th{:colspan => '6'}
            Customers
        %tr
          %th{:width => '90'}
            %b Office
          %th{:width => '47'}
            %b HW
          %th{:width => '47'}
            %b SW
          %th{:width => '47'}
            %b SA
          %th{:width => '47'}
            %b CE
          %th{:width => '47'}
            %b DR
          %th{:width => '47'}
            %b Total
          %th{:width => '47'}
            %b HW
          %th{:width => '47'}
            %b SW
          %th{:width => '47'}
            %b SA
          %th{:width => '47'}
            %b CE
          %th{:width => '47'}
            %b DR
          %th{:width => '47'}
            %b Total
      %tbody
        - @offices.each do |k|
          %tr
            %td= h k
            %td{:align => 'right'}= h @contract_counts_by_office[k]['hw']
            %td{:align => 'right'}= h @contract_counts_by_office[k]['sw']
            %td{:align => 'right'}= h @contract_counts_by_office[k]['sa']
            %td{:align => 'right'}= h @contract_counts_by_office[k]['ce']
            %td{:align => 'right'}= h @contract_counts_by_office[k]['dr']
            %td{:align => 'right'}
              %b= h @contract_counts_by_office[k]['total']
            %td{:align => 'right'}= h @customer_counts_by_office[k]['hw']
            %td{:align => 'right'}= h @customer_counts_by_office[k]['sw']
            %td{:align => 'right'}= h @customer_counts_by_office[k]['sa']
            %td{:align => 'right'}= h @customer_counts_by_office[k]['ce']
            %td{:align => 'right'}= h @customer_counts_by_office[k]['dr']
            %td{:align => 'right'}
              %b= h @customer_counts_by_office[k]['total']
      %tfoot
        %tr
          %td
            %b
              Totals
          %td{:colspan => '6', :align => 'right'}
            %b= @total_contracts
          %td{:colspan => '6', :align => 'right'}
            %b= @total_customers
  %br/
  %div{:class=>'boxed', :style=>'background:white'}
    %h2 Revenues By Office
    %table{:class => 'sortable', :padding => '2', :border => '1'}
      %thead
        %tr
          %th{:width => '90', :ts_type => 'string'}
            %b Office
          %th{:width => '95', :ts_type => 'money'}
            %b HW
          %th{:width => '95', :ts_type => 'money'}
            %b SW
          %th{:width => '95', :ts_type => 'money'}
            %b SA
          %th{:width => '95', :ts_type => 'money'}
            %b CE
          %th{:width => '95', :ts_type => 'money'}
            %b DR
          %th{:width => '95', :ts_type => 'money'}
            %b Total
      %tbody
        - for x in @revenue_by_office_by_type
          %tr
            %td= x.sales_office_name
            %td{:align => 'right'}= number_to_currency(x.hw, :format => '%n')
            %td{:align => 'right'}= number_to_currency(x.sw, :format => '%n')
            %td{:align => 'right'}= number_to_currency(x.sa, :format => '%n')
            %td{:align => 'right'}= number_to_currency(x.ce, :format => '%n')
            %td{:align => 'right'}= number_to_currency(x.dr, :format => '%n')
            %td{:align => 'right'}= number_to_currency(x.total, :format => '%n')
      %tfoot
        %tr
          %td Total
          %td{:align => 'right'}
            %b= number_to_currency(@all_revenue[0][:annual_hw_rev], :format => '%u%n')
          %td{:align => 'right'}
            %b= number_to_currency(@all_revenue[0][:annual_sw_rev], :format => '%u%n')
          %td{:align => 'right'}
            %b= number_to_currency(@all_revenue[0][:annual_sa_rev], :format => '%u%n')
          %td{:align => 'right'}
            %b= number_to_currency(@all_revenue[0][:annual_ce_rev], :format => '%u%n')
          %td{:align => 'right'}
            %b= number_to_currency(@all_revenue[0][:annual_dr_rev], :format => '%u%n')
          %td{:align => 'right'}
            %b= number_to_currency(@all_revenue[0][:total_revenue], :format => '%u%n')

  %br &nbsp;
#section2
  %p{:style=>"page-break-before: always"}
    - @url1 = url_for :controller => 'graphs', :action => 'sales_by_office'
    %img{'src' => @url1, 'style' => "border:1px solid #111111;"}
  %p
    - @url2 = url_for :controller => 'graphs', :action => 'sales_by_type_pie'
    %img{'src' => @url2, 'style' => "border:1px solid #111111;"}

