- content_for :subtitle do
  Reports

%ul{:class => 'sub_menu'}
  %li
    = link_to 'Dashboard', reports_path, :class => 'active'
  %li
    = link_to 'Renewals', {:controller => "reports", :action => "renewals"}
  %li
    = link_to 'Inventory', {:controller => "reports", :action => "sparesreq"}

%p &nbsp;

#section1
  %h1{:align => 'center'}
    Dashboard

  %h2 Overall Stats
  %table{:padding => '2', :border => '1'}
    %tr
      %th{:width => '90'}
        %b Stat
      %th{:width => '95'}
        %b Total
      %th{:width => '95'}
        %b HW
      %th{:width => '95'}
        %b SW
      %th{:width => '95'}
        %b SA
      %th{:width => '95'}
        %b CE
      %th{:width => '95'}
        %b DR
    %tr
      %td # Contracts
      %td{:align => 'center'}= h @total_contract_count
      %td{:align => 'center'}= h @total_hw_only_contract_count
      %td{:align => 'center'}= h @total_sw_only_contract_count
      %td{:align => 'center'}= h @total_sa_contract_count
      %td{:align => 'center'}= h @total_ce_contract_count
      %td{:align => 'center'}= h @total_dr_contract_count
    %tr
      %td # Customers
      %td{:align => 'center'}= h @total_customer_count
      %td{:align => 'center'}= h @total_hw_only_customer_count
      %td{:align => 'center'}= h @total_sw_only_customer_count
      %td{:align => 'center'}= h @total_sa_customer_count
      %td{:align => 'center'}= h @total_ce_customer_count
      %td{:align => 'center'}= h @total_dr_customer_count
    %tr
      %td Revenue
      %td{:align => 'right'}= number_to_currency(@all_revenue[0][:total_revenue])
      %td{:align => 'right'}= number_to_currency(@all_revenue[0][:annual_hw_rev])
      %td{:align => 'right'}= number_to_currency(@all_revenue[0][:annual_sw_rev])
      %td{:align => 'right'}= number_to_currency(@all_revenue[0][:annual_sa_rev])
      %td{:align => 'right'}= number_to_currency(@all_revenue[0][:annual_ce_rev])
      %td{:align => 'right'}= number_to_currency(@all_revenue[0][:annual_dr_rev])
      
  %p &nbsp;
  %h2 By Office Stats
  %table{:padding => '2', :border => '1'}
    %tr
      %th{:width => '90'}
        %b Stat
      %th{:width => '95'}
        %b Total
      %th{:width => '95'}
        %b HW
      %th{:width => '95'}
        %b SW
      %th{:width => '95'}
        %b SA
      %th{:width => '95'}
        %b CE
      %th{:width => '95'}
        %b DR
    %tr
      %td # Contracts
      %td{:align => 'center'}= h @total_contract_count
      %td{:align => 'center'}= h @total_hw_only_contract_count
      %td{:align => 'center'}= h @total_sw_only_contract_count
      %td{:align => 'center'}= h @total_sa_contract_count
      %td{:align => 'center'}= h @total_ce_contract_count
      %td{:align => 'center'}= h @total_dr_contract_count

  %br &nbsp;
  %p
    - @url1 = url_for :controller => 'graphs', :action => 'sales_by_office'
    %img{'src' => @url1, 'style' => "border:1px solid #111111;"}
  %p
    - @url2 = url_for :controller => 'graphs', :action => 'sales_by_type_pie'
    %img{'src' => @url2, 'style' => "border:1px solid #111111;"}
  %p
    - @url3 = url_for :controller => 'graphs', :action => 'contract_counts_by_office'
    %img{'src' => @url3, 'style' => "border:1px solid #111111;"}

