- content_for :subtitle do
  Reports

#section1
  %h2
    Report Links
    
  #linkbox
    %dt
      %b Performance
    %dd{:style => "margin-left:20px"}
      %ul
        %li
          Test
        %li
          Test2

  #linkbox
    %dt
      %b Inventory
    %dd{:style => "margin-left:20px"}
      %ul
        %li
          = link_to 'Spares Requirements', 'reports/sparesreq'
        %li
          Test2
  
  %p &nbsp;

#section2
  %h2 General Stats
  %table{:class => 'main_table', :width => "250"}
    %tr
      %th
        %b Stat
      %th
        %b Contracts
      %th
        %b Customers
    %tr
      %td Total Counts
      %td{:align => 'center'}= h @total_contract_count
      %td{:align => 'center'}= h @total_customer_count
    %tr
      %td HW & SW Counts
      %td{:align => 'center'}= h @total_hw_sw_contract_count
      %td{:align => 'center'}= h @total_hw_sw_customer_count
    %tr
      %td HW Only Counts
      %td{:align => 'center'}= h @total_hw_only_contract_count
      %td{:align => 'center'}= h @total_hw_only_customer_count
    %tr
      %td SW Only Counts
      %td{:align => 'center'}= h @total_sw_only_contract_count
      %td{:align => 'center'}= h @total_sw_only_customer_count
    %tr
      %td SA Contracts
      %td{:align => 'center'}= h @total_sa_contract_count
      %td{:align => 'center'}= h @total_sa_customer_count
    %tr
      %td CE Contracts
      %td{:align => 'center'}= h @total_ce_contract_count
      %td{:align => 'center'}= h @total_ce_customer_count
    %tr
      %td DR Contracts
      %td{:align => 'center'}= h @total_dr_contract_count
      %td{:align => 'center'}= h @total_dr_customer_count

  %br &nbsp;
  %p
    - @url1 = url_for :controller => 'graphs', :action => 'sales_by_office'
    %img{'src' => @url1, 'style' => "border:1px solid #111111;"}

    - @url2 = url_for :controller => 'graphs', :action => 'contract_counts_by_office'
    %img{'src' => @url2, 'style' => "border:1px solid #111111;"}

    - @url3 = url_for :controller => 'graphs', :action => 'sales_by_type_pie'
    %img{'src' => @url3, 'style' => "border:1px solid #111111;"}

