- content_for :subtitle do
  Reports

#section1
  %h2 General Stats
  %table
    %tr
      %td
        %b Stats
      %td
        %b Contracts
      %td
        %b Customers
    %tr
      %td Total Counts
      %td{:align => 'center'}= h @total_contract_count
      %td{:align => 'center'}= h @total_customer_count
    %tr
      %td Hardware Counts
      %td{:align => 'center'}= h @total_hw_contract_count
      %td{:align => 'center'}= h @total_hw_customer_count
    %tr
      %td Software Counts
      %td{:align => 'center'}= h @total_sw_contract_count
      %td{:align => 'center'}= h @total_sw_customer_count
    %tr
      %td SA Counts
      %td{:align => 'center'}= h @total_sa_contract_count
      %td{:align => 'center'}= h @total_sa_customer_count
    %tr
      %td CE Counts
      %td{:align => 'center'}= h @total_ce_contract_count
      %td{:align => 'center'}= h @total_ce_customer_count
    %tr
      %td DR Counts
      %td{:align => 'center'}= h @total_dr_contract_count
      %td{:align => 'center'}= h @total_dr_customer_count

  %br &nbsp;
  %p
    - @url1 = url_for :controller => 'graphs', :action => 'sales_by_office'
    %img{'src' => @url1, 'style' => "border:1px solid #111111;"}

    - @url2 = url_for :controller => 'graphs', :action => 'contract_counts_by_office'
    %img{'src' => @url2, 'style' => "border:1px solid #111111;"}

    - @url3 = url_for :controller => 'graphs', :action => 'sales_by_type_pie'
    %img{'src' => @url3, 'style' => "border:1px solid #111111;"}

