- content_for :subtitle do
  Reports - CE Loading

#section1
  %h2{:style => 'margin:15px 0px 0px 3px'} Current Annual HW revenue by equipment location

  %table{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      %tr
        %th
          Location
        %th
          Revenue
        %th
          Sub-K Cost
        %th
          &nbsp;
    %tbody
      - @locations.each do |x|
        %tr
          %td
            - if current_user.has_role?(:admin, :contract_admin)
              = link_to x.location, contract_search_url(:id => x.contract_ids_by_location.split(',').join(','))
            - else
              = x.location
          %td{:align => 'right'}
            = number_to_currency(x.revenue, :format => '%u%n')
          %td{:align => 'right'}
            = number_to_currency(x.cost, :format => '%u%n')
          %td{:align => 'right'}
            - if current_user.has_role?(:admin, :contract_admin)
              = link_to 'mass update', :controller => :line_items, :action => :mass_update_location, :from_location => x.location
            - else
              &nbsp;
