- content_for :subtitle do
  Reports

#section1
  %h1{:style => 'text-align: center'}
    Quota Attainment
    = " For #{@sales_rep.full_name}" if @sales_rep.id
  -if current_user.has_role? :manager
    - form_tag '/reports/quota', {:name => 'rep_search' } do
      %p{:style => 'text-align: center'}
        = select_tag "sales_rep_id", options_for_select(@sales_reps, @sales_rep ? @sales_rep.id : nil), {:selected => @sales_rep}
        = submit_tag "Search"
#section2{:style => 'text-align: center'}
  -if @noquery
    %h2 Select a sales rep
  -else
    %table.plain_table.big_table{:style => 'margin-left:auto; margin-right:auto'}
      %thead
        %tr
          %th Quarter
          %th Support Revenue
          %th Hardware Profit
          %th Total Received
          %th Quota
          %th Commission Band
      %tbody
        %tr
          %td= quarter.beginning_of_last_quarter.to_quarter_string
          %td.right= link_to number_to_currency(@prev_quarter_contract_attainment), contract_search_url(:expired => 1, :id => @prev_quarter_contract_pos.map(&:id).split(',').join(','))
          %td.right= number_to_currency(@prev_quarter_hw_attainment)
          %td.right= number_to_currency(@prev_quarter_contract_attainment + @prev_quarter_hw_attainment)
          %td.right= link_to number_to_currency(@prev_quarter_quota), contract_search_url(:expired => 1, :id => @prev_quarter_contracts.map(&:id).split(',').join(','))
          %td.right= number_to_percentage(band_for(@prev_quarter_contract_attainment + @prev_quarter_hw_attainment, @prev_quarter_quota) * 100, :precision => 0)
        %tr
          %td= quarter.beginning_of_quarter.to_quarter_string
          %td.right= link_to number_to_currency(@this_quarter_contract_attainment), contract_search_url(:expired => 1, :id => @this_quarter_contract_pos.map(&:id).split(',').join(','))
          %td.right= number_to_currency(@this_quarter_hw_attainment)
          %td.right= number_to_currency(@this_quarter_contract_attainment + @this_quarter_hw_attainment)
          %td.right= link_to number_to_currency(@this_quarter_quota), contract_search_url(:expired => 1, :id => @this_quarter_contracts.map(&:id).split(',').join(','))
          %td.right= number_to_percentage(band_for(@this_quarter_contract_attainment + @this_quarter_hw_attainment, @this_quarter_quota) * 100, :precision => 0)
        %tr
          %td= quarter.beginning_of_next_quarter.to_quarter_string
          %td.right N/A
          %td.right N/A
          %td.right N/A
          %td.right= link_to number_to_currency(@next_quarter_quota), contract_search_url(:expired => 1, :id => @next_quarter_contracts.map(&:id).split(',').join(','))
          %td.right N/A
