- content_for :subtitle do
  Reports

#section1
  %table{:class => 'plain_table'}
    %tr
      %td{:width => '300px', :style => 'valign:bottom'}
        %h2{:margin => '0'}
          Renewals &nbsp;&nbsp;&nbsp;
          %span{:style => 'font-size:8pt'}= link_to 'export to excel', "/reports/renewals.xls"
      %td
        Filter by Office:
        =select("filter", "offices", @offices, {:include_blank => true },{:onchange => 'return toggleOfficesRenewal(11,12)'})
      %td{:width => '25px'}
      %td
        Filter by Rep:
        =select("filter", "reps", @sales_reps, {:include_blank => true },{:onchange => 'return toggleRepsRenewal(11,12)'})
      %td{:width => '300px', :align => 'right'}
        - form_tag'/reports/renewals', {:name => 'date_search' }  do
          = text_field 'date_search', 'ref_date', {:size => 10, :value => @ref_date}
          = submit_tag "Search"
  %table
    %thead
      %tr
        %th
        %th expired
        %th estimate
        %th count
    %tbody
      %tr
        %td
          Expired:&nbsp;
        %td{:align => 'right'}
          %span#sum_expired{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#expected_expired
            &nbsp;
        %td{:align => 'right'}
          %span#count_expired{:margin => '0'}
            &nbsp;
      %tr
        %td
          0-30 days:&nbsp;
        %td{:align => 'right'}
          %span#sum_0_30{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#expected_0_30{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#count_0_30{:margin => '0'}
            &nbsp;
      %tr
        %td
          31-60 days:&nbsp;
        %td{:align => 'right'}
          %span#sum_31_60{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#expected_31_60{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#count_31_60{:margin => '0'}
            &nbsp;
      %tr
        %td
          61-90 days:&nbsp;
        %td{:align => 'right'}
          %span#sum_61_90{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#expected_61_90{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#count_61_90{:margin => '0'}
            &nbsp;
      %tr
        %td
          91-120 days:&nbsp;
        %td{:align => 'right'}
          %span#sum_91_120{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#expected_91_120{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#count_91_120{:margin => '0'}
            &nbsp;
      %tr
        %td
          Total:&nbsp;
        %td{:align => 'right'}
          %span#sum_all{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#expected_all{:margin => '0'}
            &nbsp;
        %td{:align => 'right'}
          %span#count_all{:margin => '0'}
            &nbsp;
#section2
  %h2{:style => 'margin:15px 0px 0px 300px'}
    EXPIRED CONTRACTS &nbsp;&nbsp;&nbsp;
    %span.hideforprint{:style => 'font-size:8pt;text-transform:lowercase'}= link_to_function 'Format for print', "toggleHeaderStuff()"
  %table#renewals_expired{:class => "sortable", :cellspacing => "0", :padding => '2', :border => '1', :style => 'background:#ff5455'}
    %thead
      = render :partial => 'renewals_table_header'
    %tbody
      - @contracts.each do |x|
        - if x.days_due.to_i <= 0
          = render :partial => "renewals_table_content", :locals => { :x => x }

  %h2{:style => 'margin:15px 0px 0px 250px'} Contracts expiring in 30 days or less
  %table#renewals_0_30{:class => "sortable", :padding => '2', :border => '1', :style => 'background:#ffff66'}
    %thead
      = render :partial => 'renewals_table_header'
    %tbody
      - @contracts.each do |x|
        - if x.days_due.to_i > 0 && x.days_due.to_i <= 30
          = render :partial => "renewals_table_content", :locals => { :x => x }

  %h2{:style => 'margin:15px 0px 0px 250px'} Contracts expiring in 31 to 60 days
  %table#renewals_31_60{:class => "sortable", :padding => '2', :border => '1', :style => 'background:#ffff66'}
    %thead
      = render :partial => 'renewals_table_header'
    %tbody
      - @contracts.each do |x|
        - if x.days_due.to_i > 30 && x.days_due.to_i <= 60
          = render :partial => "renewals_table_content", :locals => { :x => x }

  %h2{:style => 'margin:15px 0px 0px 250px'} Contracts expiring in 61 to 90 days
  %table#renewals_61_90{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      = render :partial => 'renewals_table_header'
    %tbody
      - @contracts.each do |x|
        - if x.days_due.to_i > 60 && x.days_due.to_i <= 90
          = render :partial => "renewals_table_content", :locals => { :x => x }

  %h2{:style => 'margin:15px 0px 0px 250px'} Contracts expiring in 91 to 120 days
  %table#renewals_91_120{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      = render :partial => 'renewals_table_header'
    %tbody
      - @contracts.each do |x|
        - if x.days_due.to_i > 90 && x.days_due.to_i <= 120
          = render :partial => "renewals_table_content", :locals => { :x => x }
  %script
    toggleOfficesRenewal(11,12);