- content_for :subtitle do
  Reports

#section1
  %table{:class => 'plain_table'}
    %tr
      %td{:width => '300px', :style => 'valign:bottom'}
        %h2{:margin => '0'}
          Renewals &nbsp;&nbsp;&nbsp;
      %td
        Filter by Office
        =select("filter", "offices", @offices, {:include_blank => true },{:onchange => 'return toggleOffices()', :style => "width: 82px"})
      %td{:width => '325px', :align => 'right'}
        - form_tag'/reports/renewals', {:name => 'date_search' }  do
          = text_field 'date_search', 'ref_date', {:size => 10, :value => @ref_date}
          = submit_tag "Search"
  %table.plain_table
    %tbody
      %tr
        %td
          %h2{:margin => '0'}
            Total expired contracts:&nbsp;
        %td
          %h2#expired_total{:margin => '0'}
            &nbsp;
#section2
  %h2{:style => 'margin:15px 0px 0px 300px'}
    EXPIRED CONTRACTS &nbsp;&nbsp;&nbsp;
    %span.hideforprint{:style => 'font-size:8pt;text-transform:lowercase'}= link_to_function 'Format for print', "toggleHeaderStuff()"
  %table{:class => "sortable", :cellspacing => "0", :padding => '2', :border => '1', :width => '860px', :style => 'background:#ff5455', :id => 'expired_table'}
    %thead
      = render :partial => 'renewals_table_header'
    %tbody
      - @contracts.each do |x|
        - if x.days_due.to_i <= 0
          = render :partial => "renewals_table_content", :locals => { :x => x }

  %h2{:style => 'margin:15px 0px 0px 250px'} Contracts expiring in 30 days or less
  %table{:class => "sortable", :padding => '2', :border => '1', :width => '860px', :style => 'background:#ffff66'}
    %thead
      = render :partial => 'renewals_table_header'
    %tbody
      - @contracts.each do |x|
        - if x.days_due.to_i > 0 && x.days_due.to_i <= 30
          = render :partial => "renewals_table_content", :locals => { :x => x }

  %h2{:style => 'margin:15px 0px 0px 250px'} Contracts expiring in 31 to 60 days
  %table{:class => "sortable", :padding => '2', :border => '1', :width => '860px', :style => 'background:#ffff66'}
    %thead
      = render :partial => 'renewals_table_header'
    %tbody
      - @contracts.each do |x|
        - if x.days_due.to_i > 30 && x.days_due.to_i <= 60
          = render :partial => "renewals_table_content", :locals => { :x => x }

  %h2{:style => 'margin:15px 0px 0px 250px'} Contracts expiring in 61 to 90 days
  %table{:class => "sortable", :padding => '2', :border => '1', :width => '860px'}
    %thead
      = render :partial => 'renewals_table_header'
    %tbody
      - @contracts.each do |x|
        - if x.days_due.to_i > 60 && x.days_due.to_i <= 90
          = render :partial => "renewals_table_content", :locals => { :x => x }
  %script
    toggleOffices();