- content_for :subtitle do
  Reports

%ul{:class => 'sub_menu'}
  %li
    = link_to 'Dashboard', reports_path
  %li
    = link_to 'Renewals', {:controller => "reports", :action => "renewals"}, :class => 'active'
  %li
    = link_to 'Inventory', {:controller => "reports", :action => "sparesreq"}

%p &nbsp;

#section1
  %table{:class => 'plain_table'}
    %tr
      %td{:width => '200px', :style => 'valign:bottom'}
        %h2{:margin => '0'}
          Renewals
      %td
        Filter by Office
        =select("filter", "offices", @offices, {:include_blank => true },{:onChange => 'toggleOffices(this.value);', :style => "width: 82px"})
      %td{:width => '425px', :align => 'right'}
        - form_tag'/reports/renewals', {:name => 'date_search' }  do |f|
          = text_field 'date_search', 'ref_date', {:size => 10, :value => @ref_date}
          = submit_tag "Search"
  
  %table{:class => "sortable", :padding => '2', :border => '1', :width => '800px',:ts_linkrow => "1", :style => 'background:#ff5455'}
    %thead
      %tr
        %th{:colspan => '7'}
          EXPIRED CONTRACTS
      %tr
        %th{:width => '80px'}
          %b Office
        %th{:width => '160px'}
          %b Account
        %th{:width => '250px'}
          %b Description
        %th{:width => '70px'}
          %b Start Date
        %th{:width => '70px'}
          %b End Date
        %th{:width => '50px'}
          %b Days Due
        %th{:width => '100px'}
          %b Revenue
    - for x in @contracts
      - if x.days_due.to_i <= 0
        %tr{:id => x.sales_office_name}
          %td= h x.sales_office_name
          %td= h x.account_name
          %td= link_to x.description, contract_url(x.id)
          %td{:align => 'center'}= h x.start_date
          %td{:align => 'center'}= h x.end_date
          %td{:align => 'right'}= h x.days_due
          %td{:align => 'right'}= number_to_currency(x.revenue, :format => '%n')

  %p &nbsp;
  %table{:class => "sortable", :padding => '2', :border => '1', :width => '800px', :style => 'background:#ffff66'}
    %thead
      %tr
        %th{:colspan => '7'}
          Contracts expiring in 30 days or less
      %tr
        %th{:width => '80px'}
          %b Office
        %th{:width => '160px'}
          %b Account
        %th{:width => '250px'}
          %b Description
        %th{:width => '70px'}
          %b Start Date
        %th{:width => '70px'}
          %b End Date
        %th{:width => '50px'}
          %b Days Due
        %th{:width => '100px'}
          %b Revenue
    - for x in @contracts
      - if x.days_due.to_i > 0 && x.days_due.to_i <= 30
        %tr{:id => x.sales_office_name}
          %td= h x.sales_office_name
          %td= h x.account_name
          %td= link_to x.description, contract_url(x.id)
          %td{:align => 'center'}= h x.start_date
          %td{:align => 'center'}= h x.end_date
          %td{:align => 'right'}= h x.days_due
          %td{:align => 'right'}= number_to_currency(x.revenue, :format => '%n')

  %p &nbsp;
  %table{:class => "sortable", :padding => '2', :border => '1', :width => '800px', :style => 'background:#ffff66'}
    %thead
      %tr
        %th{:colspan => '7'}
          Contracts expiring in 31 to 60 days
      %tr
        %th{:width => '80px'}
          %b Office
        %th{:width => '160px'}
          %b Account
        %th{:width => '250px'}
          %b Description
        %th{:width => '70px'}
          %b Start Date
        %th{:width => '70px'}
          %b End Date
        %th{:width => '50px'}
          %b Days Due
        %th{:width => '100px'}
          %b Revenue
    - for x in @contracts
      - if x.days_due.to_i > 30 && x.days_due.to_i <= 60
        %tr{:id => x.sales_office_name}
          %td= h x.sales_office_name
          %td= h x.account_name
          %td= link_to x.description, contract_url(x.id)
          %td{:align => 'center'}= h x.start_date
          %td{:align => 'center'}= h x.end_date
          %td{:align => 'right'}= h x.days_due
          %td{:align => 'right'}= number_to_currency(x.revenue, :format => '%n')

  %p &nbsp;
  %table{:class => "sortable", :padding => '2', :border => '1', :width => '800px'}
    %thead
      %tr
        %th{:colspan => '7'}
          Contracts expiring in 61 to 90 days
      %tr
        %th{:width => '80px'}
          %b Office
        %th{:width => '160px'}
          %b Account
        %th{:width => '250px'}
          %b Description
        %th{:width => '70px'}
          %b Start Date
        %th{:width => '70px'}
          %b End Date
        %th{:width => '50px'}
          %b Days Due
        %th{:width => '80px'}
          %b Revenue
    - for x in @contracts
      - if x.days_due.to_i > 60 && x.days_due.to_i <= 90
        %tr{:id => x.sales_office_name}
          %td= h x.sales_office_name
          %td= h x.account_name
          %td= link_to x.description, contract_url(x.id)
          %td{:align => 'center'}= h x.start_date
          %td{:align => 'center'}= h x.end_date
          %td{:align => 'right'}= h x.days_due
          %td{:align => 'right'}= number_to_currency(x.revenue, :format => '%n')
          
%script
  function toggleOffices(office){
  a = $('filter_offices').options;
  if (office == ""){
  showAll(a);
  }
  else {
  showAll(a);
  for (i=0; i<a.length; i++){
  if (a[i].value != office && a[i].value !=""){
  name = '#'+a[i].value;
  $$(name).invoke('hide');
  }}}}
  
  function showAll(a){
  for (i=0; i<a.length; i++){
  name = '#'+a[i].value;
  $$(name).invoke('show');
  }}

