- content_for :subtitle do
  Reports - Covered products

= render :partial => "reports_header"

#section1
  %table{:class => 'plain_table'}
    %tr
      %td{:width => '300px'}
        %h2{:margin => '0'}
          Spares Requirements &nbsp;&nbsp;&nbsp;
          %span{:style => 'font-size:8pt;text-transform:lowercase'}= link_to_function 'Format for print', "toggleHeaderStuff()"
      %td
        %b Filter by Office&nbsp;
      %td
        - form_tag'/reports/sparesreq', {:name => 'search' }  do
          = select("filter", "offices", @offices, {:include_blank => true}, {:onchange => "document.getElementById('filter_office_name').value = this.options[this.selectedIndex].text" })
          = hidden_field "filter", "office_name"
          = submit_tag "Search"

  %h2{:style => 'margin:15px 0px 0px 200px'}
    Products Under Support - 
    = @office

  %table{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      %tr
        %th{:width => '120px', :ts_type => 'string'}
          %b Product Number
        %th{:width => '380px', :ts_type => 'string'}
          %b Description
        %th{:width => '60px', :ts_type => 'number'}
          %b Count
    %tbody
      - for x in @lineitems
        %tr
          %td= h x.product_num
          %td= h x.description
          %td{:align => 'right'}= h x.count
