%p
  %label{:for => "hw_support_price_manufacturer_line_id"}
    Product Line
  = f.select :manufacturer_line_id, @manufacturer_lines.map {|mfg| [mfg.manufacturer.name + " | " + mfg.name, mfg.id]}, :include_blank => true
%p
  %label{:for => "hw_support_price_part_number"}
    Product Number
  = f.text_field :part_number
%p
  %label{:for => "hw_support_price_description"}
    Description
  = f.text_field :description
%p
  %label{:for => "hw_support_price_list_price"}
    List Price
  = f.text_field :list_price
%p
  %label{:for => "hw_support_price_confirm_date"}
    Confirmation Date
  = f.text_field :confirm_date
%p
  %label{:for => "sw_support_price_tlci"}
    Top-Level Item?
  = f.check_box :tlci
  &nbsp;
