%ul
  %li
    = link_to 'Contracts', contracts_path
  %li
    = link_to 'Reports', reports_path
  %li
    = link_to 'Admin', admin_index_path, :class => 'active'
    
  - if logged_in?
    %li
      = link_to 'Logout', "/logout"
  - else
    %li
      = link_to 'Login', "/login"
