!!! Transitional

%html{ "xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", "lang"=>"en" }
  %head
    %meta{ 'http-equiv'=>"content-type", 'content'=>"text/html;charset=UTF-8"}/
    %title
      = 'SD Ops:' + controller.controller_name.camelcase + ':' + controller.action_name.camelcase
    = stylesheet_link_tag 'main', :media => 'screen'
    = stylesheet_link_tag 'main', :media => 'print'
    = yield :stylesheets
    = javascript_include_tag "prototype.js", "lowpro.js", "sorttable.js", "effects.js", "controls.js", "dragdrop.js", "application.js", "cordinc_tooltip.js", :cache => "main"
    = yield :top_js
  %body
    #header
      %img{ :src => "/images/sodi-logo-tag.png", :id => "logo", :border => "0", :alt => 'Logo'}
      #title
        %h1
          -  @subtitle = yield :subtitle
          = 'SD Ops - ' + @subtitle
      =render :partial => "layouts/menu"

    #content
      - if flash[:error]
        %p{ :style => "color: red"}
          = flash[:error]
      - if flash[:notice]
        %p{ :style => "color: green"}
          = flash[:notice]
      = yield

    = yield :bottom_js

