!!! Transitional

%html{ "xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", "lang"=>"en" }
  %head
    %meta{ 'http-equiv'=>"content-type", 'content'=>"text/html;charset=UTF-8"}/
    %title
      = 'SD Ops:' + controller.controller_name.camelcase + ':' + controller.action_name.camelcase
    = stylesheet_link_tag 'main'
    = javascript_include_tag "application.js"
    = javascript_include_tag "prototype.js"
    = javascript_include_tag "lowpro.js"
    = javascript_include_tag "sorttable.js" 
  %body
    #header
      = image_tag("sodi-logo-tag.jpg", :id => "logo", :width => "242", :height => "80", :border => "0")
      
      #title
        %h1
          -  @subtitle = yield :subtitle
          = 'SD Ops - ' + @subtitle
      
      #menu
        %ul
          %li
            = link_to 'Contracts', contracts_path
          %li
            = link_to 'Reports', reports_path, :class => 'active'
          - if current_user.role == ADMIN
            %li
              = link_to 'Admin', admin_path
          - if logged_in?
            %li
              = link_to 'Logout', "/logout"
          - else
            %li
              = link_to 'Login', "/login"
            
        #userinfo
          - if current_user != :false
            %p
              = h current_user.first_name + ' ' + current_user.last_name
              = h " - " + Dropdown.find(current_user.role).label
        
        %hr/


    #content
    - if flash[:notice]
      %p{ :style => "color: green"}
        = flash[:notice]

    = yield
    

