!!! Transitional

%html{ "xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", "lang"=>"en" }
  %head
    %meta{ 'http-equiv'=>"content-type", 'content'=>"text/html;charset=UTF-8"}/
    %title
      = 'SDC Operations'
    = stylesheet_link_tag 'main'

  %body
    #header
      = image_tag("sodi-logo-tag.png", :border => "0")
      
      #title
        %h1
          -  @subtitle = yield :subtitle
          = 'SD Ops - ' + @subtitle

      #menu
        &nbsp;

            
        #userinfo
          - if current_user != :false
            %p
              = h current_user.first_name + ' ' + current_user.last_name
        


    #content
    - if flash[:notice]
      %p{ :style => "color: green"}
        = flash[:notice]

    = yield
    

